a {
  text-decoration: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body * {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  color: #5a5a5a;
}

img {
  width: 100%;
}

header {
  background-color: #444a4e;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.3em 5em;
  gap: 2em;
  align-items: center;
}
header .icon-with-text {
  margin: 0 0.75em;
}
header .icon-with-text .img-container {
  background-color: #fff;
  border-color: #64dc12;
  width: 2.75em;
  height: 2.75em;
  padding: 0.45em;
}
header .icon-with-text .img-container.login {
  padding: 0;
}
header .icon-with-text .img-container.login img {
  height: 100%;
  border-radius: 50%;
  object-fit: unset;
  filter: none;
}
header .icon-with-text .img-container img {
  filter: invert(0.7);
}
header .icon-with-text .img-container + span {
  color: #64dc12;
  text-transform: uppercase;
  font-size: 0.7em;
}
header .menu-toggle {
  justify-self: end;
}
header .menu-toggle .img-container img.close {
  filter: invert(0.3);
}
header .field {
  position: relative;
}
header .field::before {
  content: "";
  background-image: url("../images/Address Search Icon.png");
  width: 1.3em;
  height: 1.3em;
  background-repeat: no-repeat;
  background-size: 1.3em;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
header input {
  border: none;
  padding: 0.6em;
  border-radius: 2px;
  width: 100%;
  font-size: 0.8em;
}
header .menu {
  display: flex;
}
header .menu .icon-with-text .img-container {
  border-color: white;
  background-color: #64dc12;
}
header .menu .icon-with-text .img-container + span {
  color: white;
}
header .icon-group {
  display: flex;
}
header .icon-group:first-child {
  margin-right: 2.5em;
}

.logo {
  width: 8em;
  margin-bottom: -6px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.bottom-nav {
  background-color: #444a4e;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1;
  margin-top: 3em;
}
.bottom-nav .container {
  height: 4em;
  padding: 0.3em 5em;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.bottom-nav .icon-with-text {
  position: relative;
  bottom: 50%;
}
.bottom-nav .icon-with-text .img-container {
  padding: 0;
  width: 3.5em;
  height: 3.5em;
  border-color: #64dc12;
}
.bottom-nav .icon-with-text .img-container img {
  border-radius: 50%;
  width: calc(3.5em - 3px);
  height: calc(3.5em - 3px);
  object-fit: unset;
}
.bottom-nav .icon-with-text .img-container + span {
  color: #64dc12;
}

.icon-with-text {
  margin: 0 0.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #444a4e;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.icon-with-text .img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 3em;
  height: 3em;
  margin: 5px;
  background: #64dc12;
  border-radius: 50%;
  border: 3px solid #444a4e;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1vw;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.icon-with-text .img-container + span {
  font-size: 1em;
}
.icon-with-text .img-container img {
  -o-object-fit: contain;
  object-fit: contain;
}
.icon-with-text .img-container.login {
  background-image: url("../images/Nav Button - Log In.png");
  background-size: cover;
  background-position: center;
}
.icon-with-text .img-container img {
  -webkit-transition: 300ms;
  transition: 300ms;
}
.icon-with-text .img-container:hover {
  background-color: white;
  border-color: #64dc12;
}

.three-pics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
}
.three-pics .pic-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #444a4e;
  position: relative;
}
.three-pics .pic-wrapper::before {
  position: absolute;
  color: white;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 3vw;
  -webkit-transition: color 300ms;
  transition: color 300ms;
  text-shadow: -1px 0 rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.6), 1px 0 rgba(0, 0, 0, 0.6), 0 -1px rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.three-pics .pic-wrapper:first-child::before {
  content: "GRUB";
}
.three-pics .pic-wrapper:nth-child(2)::before {
  content: "GREEN";
}
.three-pics .pic-wrapper:last-child::before {
  content: "GROCERY";
}
.three-pics .pic-wrapper:hover::before {
  color: #64dc12;
}
.three-pics .pic-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25);
}
.three-pics .pic-wrapper.active::before {
  color: #64dc12;
}

.filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.filters > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.filters > div:last-child img {
  width: 100%;
}
.filters > .icon-with-text .img-container {
  padding: 10px;
}
.filters img {
  width: 115%;
}
.filters .icon-with-text:nth-child(5) {
  margin: 0 11vw;
}
.filters .icon-with-text .img-container {
  background-color: #fff;
  padding: 0;
}
.filters .icon-with-text .img-container.voice img {
  width: 65%;
}

.title-and-show-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
  margin: 10px;
  border-top: 1px solid #64dc12;
  border-bottom: 1px solid #64dc12;
  color: #444a4e;
}
.title-and-show-more h1 {
  font-size: 2em;
}
.title-and-show-more .show-more {
  font-size: 1.5em;
  color: inherit;
  text-decoration: none;
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin: 0 10px;
  grid-gap: 8px 4px;
  position: relative;
}

.product {
  display: grid;
  text-decoration: none;
}
.product .info-and-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #444a4e;
  margin-bottom: 4px;
  grid-gap: 10px 15px;
}
.product img {
  max-width: 165px;
  justify-self: end;
}
.product .title {
  color: #444a4e;
  font-weight: normal;
  margin-bottom: 1rem;
}
.product .extra {
  color: #64dc12;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  background-color: #444a4e;
  padding: 15px 50px;
  margin-top: 5px;
  font-size: 1.25vw;
}
footer span {
  color: #64dc12;
}
footer a {
  color: inherit;
  text-decoration: none;
}

.n-and-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.5vw;
  min-height: 40px;
}
.n-and-add .n,
.n-and-add .add {
  background-color: #444a4e;
  color: #64dc12;
  padding: 0px 15px;
  width: 50%;
}
.n-and-add .n {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 4px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.n-and-add .n span {
  font-size: 35px;
  padding: 0 5px;
  cursor: pointer;
}
.n-and-add .add {
  border: none;
  font-size: 1.2em;
  cursor: pointer;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
}
.n-and-add .add:hover {
  background-color: #50575c;
}
.n-and-add .add:active {
  background-color: #383d40;
}
.n-and-add input {
  width: 45%;
  margin: 0 10px;
  font-size: 20px;
  text-align: center;
  color: #444a4e;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 95vh;
  overflow-y: auto;
  max-width: 95vw;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #fff;
  padding: 20px;
  border: 2px solid #3587b7;
  padding: 20px 6rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
}
.modal .close {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 30px;
  cursor: pointer;
}
.modal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.modal > img {
  width: 150px;
  margin-bottom: 1rem;
}
.modal .n-and-add {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: unset;
  width: 100%;
  flex-direction: row;
  margin-top: 6px;
}
.modal .n-and-add .n,
.modal .n-and-add .add {
  width: 100%;
  padding: 0;
  height: 42px;
  background-color: white;
  color: #3587b7;
  border: 2px solid #3587b7;
  box-sizing: border-box;
}
.modal .n-and-add .n {
  padding: 0 10px;
}
.modal .n-and-add .add:hover {
  background-color: #3587b7;
  color: white;
}
.modal .n-and-add .add:active {
  background-color: #2f78a3;
  color: white;
}
.modal .n-and-add input {
  width: 50%;
}
.modal .title {
  color: #444a4e;
  font-weight: normal;
  margin: 1em 0 0.5em 0;
}
.modal .extra {
  color: #64dc12;
  margin-bottom: 1em;
  display: inline-block;
}
.modal .ingred-rec {
  background-color: #3587b7;
  padding: 5px;
  text-align: center;
  color: white;
}
.modal .ingred-rec img {
  width: 120px;
}
.modal .ingred-rec .ingred {
  margin: auto;
  padding: 10px 5px;
  border: 1px solid white;
}
.modal .ingred-rec .ingred h3 {
  margin-bottom: 10px;
}
.modal .ingred-rec ul {
  list-style: none;
}
.modal .ingred-rec h3 {
  margin: 10px 0;
}
.modal .ingred-rec span {
  font-size: 13px;
}
.modal input {
  max-width: 60px;
}
.modal .modal-extras {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}
.modal .modal-extra {
  border: 1px solid;
  padding: 0 5px;
}
.modal .modal-extra > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .modal-extra span {
  font-size: 14px;
}
.modal .modal-extra .minus,
.modal .modal-extra .plus {
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
}
.modal input {
  margin: 0 10px;
  font-size: 20px;
  text-align: center;
  color: #3587b7;
  border: 1px solid #3e95c7;
}
.modal .notes {
  border: 1px solid white;
  text-align: left;
  padding: 10px;
  background-color: #3587b7;
  height: 150px;
  box-sizing: border-box;
  color: white;
  font-size: 13px;
}
.modal .notes::placeholder {
  color: inherit;
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
  display: none;
}
.dim.visible {
  display: block;
  animation: fadein 250ms forwards;
}

.filters-sm {
  display: grid;
  grid-template-columns: 1fr 3fr;
  display: none;
}

.flickity-page-dots {
  bottom: -10px;
}

.hidden {
  display: none;
}

.field-and-btn-container {
  width: 33.3333%;
  display: flex;
}
.field-and-btn-container input {
  flex-grow: 1;
}

.address,
.email {
  padding: 0.4vw;
}
.address input,
.email input {
  border: none;
  margin-right: 1.5vw;
  background-color: transparent;
  border-bottom: 1px solid #64dc12;
  color: white;
  font-size: calc(3px + 1.3vw);
}
.address input::placeholder,
.email input::placeholder {
  color: #ccc;
}
.address button,
.email button {
  padding: 5px 10px;
  border: none;
  border-radius: 2px;
  background-color: transparent;
  border: 1px solid #64dc12;
  color: #64dc12;
  font-size: calc(3px + 1.3vw);
  cursor: pointer;
}

.address {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
  background-color: #050f25;
}
.address .field-and-btn-container {
  position: relative;
}
.address .field-and-btn-container::after {
  content: "";
  position: absolute;
  background-image: url("../images/Address Icon white.png");
  right: calc(26px + 4vw);
  top: 7px;
  width: 1.45vw;
  height: 1.45vw;
  background-repeat: no-repeat;
  background-size: 1.45vw;
}

.email {
  background-color: #444a4e;
  color: white;
}
.email .field-and-btn-container {
  width: 42%;
}
.email .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.email p {
  position: absolute;
  left: 0;
  font-size: calc(4px + 1.05vw);
}
.email span {
  color: #64dc12;
}

.foods,
.smart-stuff,
.phones {
  overflow: hidden;
}

.foods {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.25), white);
}
.foods .food {
  margin-left: 30%;
  animation: 1.5s ease-in-out forwards;
  transform: translateX(-200%);
}
.foods .goodies {
  margin-left: -25%;
  animation: 1.5s forwards ease-in-out;
  transform: translateX(200%);
}
.foods img {
  object-fit: contain;
}
.foods .weed {
  position: relative;
  top: 4.5vw;
  z-index: -1;
  opacity: 0;
  transform: translateY(-100px);
  animation: 1.5s forwards ease-in-out;
}
.foods .pics {
  display: grid;
  grid-template-columns: 1.1fr 1.5fr 1.3fr;
  align-items: end;
}
.foods .title {
  margin: 2.5rem 0rem 1rem 0;
  font-size: 3.9vw;
  font-weight: 900;
}
.foods p {
  margin-bottom: 1rem;
  width: 92%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.7vw;
  transform: scale(0.97);
}

.icon-and-text span:first-child {
  font-weight: bold;
  color: #222;
  font-size: 1.3vw;
}
.icon-and-text span:last-child {
  color: #444;
  margin-top: 2px;
  font-size: 1.2vw;
}

.phones {
  background: linear-gradient(white, rgba(0, 0, 0, 0.25));
  padding-bottom: 1.5rem;
}
.phones > .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 3rem;
}
.phones .right .icon-and-text {
  grid-column: 2;
}
.phones .right .icon img.button {
  opacity: 0;
  transform: translate(calc(-50% + 50px), -50%);
  animation: 1.2s forwards ease-out;
}
.phones .right .icon img:first-child {
  clip-path: inset(0 100% 0 0);
  animation: 1.2s forwards ease-out;
}
.phones .left .icon img.button {
  opacity: 0;
  transform: translate(calc(-50% - 50px), -50%);
  animation: 1.2s forwards ease-out;
}
.phones .left .icon img:first-child {
  clip-path: inset(0 0 0 100%);
  animation-name: fill-from-left;
  animation: 1.2s forwards ease-out;
}

.icon-and-text {
  display: flex;
  align-items: center;
}
.icon-and-text .icon {
  position: relative;
  width: 8vw;
}
.icon-and-text .icon img:first-child {
  width: 27%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.icon-and-text .icon img.button {
  width: 100%;
  position: absolute;
  transform: translate(-50%, -50%);
}
.icon-and-text .text {
  display: flex;
  flex-direction: column;
}

.left {
  display: grid;
}
.left .phone {
  grid-column: 2;
  grid-row: 1/3;
  justify-self: end;
  opacity: 0;
  transform: translateX(-200px);
  animation: 1.2s forwards ease-out;
}
.left .icon-and-text .text {
  animation: 1.2s forwards ease-out;
}
.left .icon-and-text {
  justify-content: space-between;
}
.left .icon img.button {
  top: 50%;
  left: 75%;
}

.right {
  display: grid;
}
.right .phone {
  grid-column: 1;
  grid-row: 1/3;
  opacity: 0;
  transform: translateX(200px);
  animation: 1.2s forwards ease-out;
}
.right .icon-and-text .text {
  animation: 1.2s forwards ease-out;
}
.right .icon img.button {
  left: 29%;
}

.smart-stuff {
  background: linear-gradient(rgba(0, 0, 0, 0.25), white);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.smart-stuff .container {
  display: grid;
  padding-top: 1rem;
  margin-bottom: 1rem;
}
.smart-stuff .container:nth-child(odd) {
  grid-template-columns: 1fr 2fr;
}
.smart-stuff .container:nth-child(even) {
  grid-template-columns: 2fr 1fr;
}
.smart-stuff .container h2 {
  font-size: 2.2vw;
  align-self: center;
}
.smart-stuff .container .left {
  animation: 1.2s forwards ease-out;
  transform: translateX(-200%);
}
.smart-stuff .container .left .icon-and-text .icon {
  position: relative;
  left: -3vw;
}
.smart-stuff .container .right {
  animation: 1.2s forwards ease-out;
  transform: translateX(200%);
}
.smart-stuff .container .right h2 {
  justify-self: end;
}
.smart-stuff .container .right .icon-and-text {
  margin-left: 3vw;
}

.snap-buttons {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
.snap-buttons div {
  width: 0.75vw;
  height: 0.75vw;
  border-radius: 50%;
  background-color: #64dc12;
  border: 0.12vw solid #444a4e;
  box-sizing: border-box;
  cursor: pointer;
  transition: background-color 200ms;
}
.snap-buttons div:not(:last-child) {
  margin-bottom: 0.75vw;
}
.snap-buttons div.active {
  background-color: #444a4e;
}

.login-and-pics {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1.5rem;
  margin-top: 1rem;
}
.login-and-pics .we-deliver.we-deliver {
  grid-column: 1/-1;
  display: flex;
  align-items: center;
  font-size: calc(10px + 0.75vw);
}
.login-and-pics .we-deliver.we-deliver p {
  font-size: 1.6em;
}
.login-and-pics .we-deliver.we-deliver p span {
  color: #64dc12;
}
.login-and-pics .we-deliver.we-deliver img {
  width: 4.375em;
  margin-left: 10px;
}
.login-and-pics form {
  padding: 1rem calc(25px + 1.5vw);
  display: flex;
  flex-direction: column;
  border: 1px solid #aaa;
  min-width: 230px;
}
.login-and-pics form > * {
  margin-bottom: 1.5rem;
}
.login-and-pics form img {
  width: 3.75em;
  height: 3.75em;
  border: 2px solid #444a4e;
  border-radius: 50%;
  box-sizing: border-box;
}
.login-and-pics label,
.login-and-pics .pw span {
  color: #272b2d;
}
.login-and-pics label {
  font-weight: 700;
  margin-bottom: 0.75rem;
  display: inline-block;
  font-size: 1em;
}
.login-and-pics .pw span {
  font-size: 0.85em;
}
.login-and-pics button[type=submit] {
  border-radius: 3px;
  color: white;
  font-weight: bold;
  background-color: #444a4e;
  padding: 1em;
  border: none;
  cursor: pointer;
  transition: background-color 250ms;
  font-size: 1em;
}
.login-and-pics button[type=submit]:hover {
  background-color: #50575c;
}
.login-and-pics button[type=submit]:active {
  background-color: #383d40;
}
.login-and-pics input {
  width: 100%;
  border: 1px solid #aaa;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 0.9em;
}
.login-and-pics .options {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: -0.5rem;
}
.login-and-pics .options .option {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-and-pics .options .option:first-child {
  margin-right: 2rem;
}
.login-and-pics .options span {
  font-size: 0.875;
  color: #4b5256;
  margin-top: 4px;
}
.login-and-pics .pw > div {
  display: flex;
  justify-content: space-between;
}
.login-and-pics .sign-up {
  font-size: 0.875em;
  color: #596167;
  text-align: center;
}
.login-and-pics .sign-up a {
  color: #272b2d;
  font-weight: 900;
  font-size: 1em;
}
.login-and-pics .pics {
  display: grid;
  grid-template-columns: 0.76fr 1.15fr 1fr;
  align-items: flex-start;
}
.login-and-pics .pics img {
  width: 135%;
}
.login-and-pics .pics .weed {
  margin-top: -3vw;
  margin-left: -4vw;
}
.login-and-pics .pics .goodies {
  margin-left: -4.3vw;
}

.account {
  width: 95%;
  margin: auto;
  margin-top: 1em;
}
.account section {
  margin-bottom: 15px;
}
.account section:not(.account-settings),
.account section .header, .account section.account-settings form {
  padding-left: 3em;
  padding-right: 3em;
}

.account-settings .header {
  background-color: #444a4e;
  display: grid;
  grid-template-columns: 1fr 2.5fr 1fr 0fr;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  align-items: center;
  justify-items: center;
  font-size: calc(3.8px + 1vw);
  grid-gap: 1.5em;
}
.account-settings .header h1 {
  font-size: 1.85em;
  color: white;
  font-weight: normal;
}
.account-settings .header .name {
  font-size: 1.3em;
  color: #64dc12;
}
.account-settings .header img {
  width: 100%;
}
.account-settings .header .icons {
  display: flex;
  text-align: center;
}
.account-settings .header .icons .account-icon-and-text:first-child {
  margin-right: 1.5em;
}
.account-settings .header .pic {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.account-settings .header .edit {
  width: 4.5em;
  height: 4.5em;
}
.account-settings form {
  padding-top: 3em;
  padding-bottom: 3em;
  background-color: #eee;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: calc(5px + 1vw);
}
.account-settings .field-wrapper {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
.account-settings .field-wrapper label {
  font-weight: 700;
  font-size: 1.4em;
  margin-bottom: 1.5em;
}
.account-settings .field-wrapper img {
  width: 1.7em;
  margin-right: -2em;
}
.account-settings .field-wrapper input,
.account-settings .field-wrapper select {
  border: none;
  border-bottom: 1px solid;
  background-color: transparent;
  font-size: 1.2em;
  padding-bottom: 0.3em;
  width: 100%;
  box-sizing: border-box;
}
.account-settings .field-wrapper input {
  padding-left: 1.8em;
}
.account-settings .field-wrapper.pw > div:first-child {
  display: flex;
  justify-content: space-between;
}
.account-settings .field-wrapper.pw > div:first-child a {
  font-weight: 700;
  color: #64dc12;
  font-size: 1.3em;
}
.account-settings .field-wrapper.no-icon input {
  padding-left: 0;
}
.account-settings .zip-and-apt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5em;
  align-items: end;
}
.account-settings .buttons {
  grid-column: 1/-1;
  display: flex;
  justify-content: space-between;
}
.account-settings button[type=submit] {
  grid-column: 1/-1;
  padding: 1.3em 3em;
  font-size: calc(10px + 1vw);
  font-weight: bold;
  border: none;
  cursor: pointer;
  border: 1px solid #aaa;
  border-radius: 3px;
  background-color: transparent;
}

.account-icon-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account-icon-and-text .wrapper {
  border: 2px solid white;
  border-radius: 50%;
  height: 4.75em;
  width: 4.75em;
  padding: 0.85em;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
.account-icon-and-text span {
  color: #64dc12;
  margin-top: 0.5em;
  width: max-content;
}

.refer-and-reward {
  background-color: #444a4e;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.2vw;
}
.refer-and-reward h2 {
  font-weight: normal;
}
.refer-and-reward .heading-and-icons > h2,
.refer-and-reward .pics h2 {
  margin-bottom: 1em;
}
.refer-and-reward .heading-and-icons > h2 {
  color: white;
}
.refer-and-reward .pics h2 {
  color: #64dc12;
}
.refer-and-reward .icons {
  display: grid;
  align-items: center;
  justify-content: start;
  gap: 1em;
}
.refer-and-reward .icons .icons-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
}
.refer-and-reward .icons h2 {
  color: #64dc12;
  font-weight: 700;
}
.refer-and-reward .account-icon-and-text .wrapper {
  padding: 0;
  overflow: hidden;
  height: 4em;
  width: 4em;
}
.refer-and-reward .account-icon-and-text .wrapper img {
  width: 120%;
}
.refer-and-reward .account-icon-and-text span {
  color: white;
}
.refer-and-reward .pics {
  display: grid;
  grid-template-columns: 0.76fr 1.15fr 1fr;
}
.refer-and-reward .pics h2 {
  grid-column: 1/-1;
}
.refer-and-reward .weed {
  margin-top: -1.5vw;
  margin-left: -2.5vw;
}
.refer-and-reward .goodies {
  margin-left: -4.5vw;
}

.payment {
  background-color: #eee;
  padding-top: 1em;
  padding-bottom: calc(1em + 35px);
  border: 1px solid #888;
}
.payment h2 {
  font-weight: normal;
}
.payment > div:first-of-type {
  margin: 1em auto 1em auto;
}
.payment .options {
  display: flex;
}
.payment .option {
  display: flex;
  align-items: center;
  padding: 0.7em 1.3em;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.payment .option:not(:last-child) {
  margin-right: 1em;
}
.payment .option img {
  width: 1.5em;
  margin-right: 0.5em;
}
.payment .option img.card {
  width: 1.2em;
}
.payment .option.active {
  background-color: #64dc12;
}
.payment .option span {
  font-size: 0.85em;
}
.payment .cards {
  position: relative;
  max-width: 700px;
  margin-top: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.payment .cards .card-1 {
  background-color: #444a4e;
  padding: 2em 3em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 14.375em;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}
.payment .cards .card-1 img {
  width: 8em;
  margin-bottom: 1em;
}
.payment .cards .card-1 input {
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.payment .cards .card-1 .fields {
  display: flex;
  grid-gap: 1em;
  margin-top: 1em;
}
.payment .cards .card-1 .fields input:not(:last-child) {
  margin-right: 10px;
}
.payment .cards .card-1 .fields input[type=number] {
  text-align: center;
  width: 40px;
}
.payment .cards .card-1 .fields input[type=text] {
  width: 100%;
}
.payment .cards .card-2 {
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #444a4e;
  height: 14.375em;
  grid-row: 1;
  grid-column: 2;
  position: relative;
  left: -54%;
  top: 10%;
}
.payment .cards .card-2 > div {
  background-color: #444a4e;
  padding: 5px 3em;
  margin-top: 2.5em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.payment .cards .card-2 span {
  color: #818a91;
  margin-right: 5px;
}
.payment .cards .card-2 input {
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 40px;
  text-align: center;
}
.payment .buttons {
  display: flex;
  margin-top: 60px;
  justify-content: space-between;
  grid-row: 2;
  grid-column: 1/3;
  width: 73%;
}
.payment .buttons button {
  background-color: #64dc12;
  padding: 0.6em 3em;
  border-radius: 20px;
  border: none;
  font-weight: 700;
  font-size: 1.1em;
  color: #202325;
  width: 50%;
}
.payment .buttons button:first-of-type {
  margin-right: 3em;
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
}

.container {
  max-width: 1800px;
}

.foods,
.phones,
.smart-stuff {
  padding-left: 5vw;
  padding-right: 5vw;
}

@media (min-width: 729px) {
  .product .info-and-img {
    min-height: 165px;
  }

  .header-menu-wrapper {
    display: none;
  }

  .phone {
    width: 18vw;
  }

  .icon-and-text .icon .flip {
    display: none;
  }

  .refer-and-reward .icons {
    grid-auto-flow: column;
  }

  .payment > div:first-of-type {
    width: 80%;
  }
}
@media (min-width: 1025px) {
  .three-icons .icon-with-text .img-container {
    padding: 1.7vw;
  }
  .three-icons .icon-with-text .img-container img {
    width: 2.1vw;
  }

  .filters .icon-with-text:nth-child(5) {
    margin: 0 5vw;
  }

  .foods,
.phones,
.smart-stuff {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}
@media (min-width: 1216px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }

  .filters .icon-with-text:nth-child(5) {
    margin: 0 9.5vw;
  }
}
@media (min-width: 1400px) {
  .product .title {
    font-size: 1.8vw;
    margin-bottom: 1.2vw;
  }
  .product .extra {
    font-size: 1.05vw;
  }
  .product img {
    width: 12vw;
    max-width: unset;
  }

  .n-and-add .n,
.n-and-add .add {
    padding: 0 1.5vw;
  }
  .n-and-add .add {
    font-size: 1.5vw;
  }
  .n-and-add .n span {
    font-size: 2.6vw;
  }
  .n-and-add input {
    font-size: 1.5vw;
  }

  .title-and-show-more {
    font-size: 1.15vw;
  }

  .login-and-pics form {
    font-size: 1.25vw;
  }

  .foods,
.phones,
.smart-stuff {
    padding-left: 8.49vw;
    padding-right: 8.49vw;
  }
}
@media (min-width: 1800px) {
  .foods .container,
.phones .container,
.smart-stuff .container {
    font-size: calc(16px + 0.0045vw);
  }

  .phone {
    width: 18em;
  }

  header {
    font-size: 21.588px;
  }

  .bottom-nav {
    font-size: 19.8px;
  }

  .product img {
    width: 216px;
  }
  .product .title {
    font-size: 32.4px;
    margin-bottom: 21.6px;
  }
  .product .extra {
    font-size: 18.9px;
  }

  .n-and-add .n,
.n-and-add .add {
    padding: 0 27px;
  }

  .n-and-add {
    height: 63px;
  }
  .n-and-add .add,
.n-and-add input {
    font-size: 27px;
  }
  .n-and-add .n span {
    font-size: 46.8px;
  }

  .filters .icon-with-text {
    font-size: 21.588px;
  }

  .foods .title {
    font-size: 4.388em;
  }
  .foods p {
    font-size: 1.913em;
  }

  .icon-and-text .icon {
    width: 9em;
  }
  .icon-and-text span:first-child {
    font-size: 1.462em;
  }
  .icon-and-text span:last-child {
    font-size: 1.35em;
  }

  .phone {
    width: 20.25em;
  }

  .phones .left .phone {
    margin-right: -1.688em;
  }
  .phones .right .phone {
    margin-left: -1.688em;
  }

  .address,
.email {
    padding: 0.45em;
  }
  .address input,
.email input {
    margin-right: 1.688em;
    font-size: 1.65em;
  }
  .address button,
.email button {
    font-size: 1.65em;
  }

  .email p {
    font-size: 1.431em;
  }

  .smart-stuff .container h2 {
    font-size: 2.475em;
  }
  .smart-stuff .container .icon-and-text span:first-child {
    font-size: 1.462em;
  }
  .smart-stuff .container .icon-and-text span:last-child {
    font-size: 1.35em;
  }
  .smart-stuff .container .icon-and-text .icon {
    width: 9em;
  }

  .foods,
.phones,
.smart-stuff {
    padding-left: 9.95vw;
    padding-right: 9.95vw;
  }
}
@media (max-width: 1799px) {
  .filters .icon-with-text {
    font-size: 1.2vw;
  }
}
header {
  font-size: 1.2vw;
}

.bottom-nav {
  font-size: 1.1vw;
}

@media (max-width: 991px) and (min-width: 729px) {
  .icon-with-text .img-container + span {
    font-size: 1.6vw;
  }
}
@media (max-width: 991px) {
  .filters .icon-with-text span {
    font-size: 1.6vw;
  }

  footer {
    font-size: 1.05em;
  }

  .filters {
    display: none;
  }

  .filters-sm {
    display: grid;
    grid-gap: 10vw;
    width: 90%;
    margin: 1rem auto 1.5rem auto;
  }
  .filters-sm > .icon-with-text .img-container {
    width: 8.75vw;
    height: 8.75vw;
  }
  .filters-sm > .icon-with-text .img-container img {
    width: 70%;
    height: 70%;
    margin: auto;
  }
  .filters-sm .img-container {
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    background-color: #fff;
    position: relative;
    margin: 0;
    margin-bottom: 6px;
  }
  .filters-sm .img-container::before {
    content: "";
    display: block;
    margin-top: 100%;
  }
  .filters-sm .img-container img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .filters-sm .filters-slider .icon-with-text {
    width: calc(25% - 5.5vw);
    display: flex;
    margin: 0 6vw 0 0;
  }

  .icon-and-text span:first-child {
    font-size: 1.6vw;
  }

  .icon-and-text span:last-child {
    font-size: 1.35vw;
  }

  .icon-and-text .icon {
    width: 9vw;
  }

  .snap-buttons div {
    width: calc(5px + 0.5vw);
    height: calc(5px + 0.5vw);
  }
  .snap-buttons div:not(:last-child) {
    margin-bottom: 1.5vw;
  }

  .payment .cards .card-1 {
    box-shadow: none;
  }
  .payment .cards .card-2 {
    position: unset;
    margin-top: 15px;
  }
}
@media (max-width: 1024px) {
  .foods p {
    width: 89%;
  }

  .email p {
    margin-left: 5.6vw;
  }
}
@media (max-width: 1215px) {
  .three-icons .icon-with-text .img-container {
    width: 4.6vw;
    height: 4.6vw;
  }

  .filters .icon-with-text .img-container + span {
    font-size: 1.2vw;
  }
}
@media (min-width: 2000px) {
  .foods .container,
.phones .container,
.smart-stuff .container {
    font-size: calc(16px + 0.1vw);
  }

  .phone {
    width: 18em;
  }
}
@media (min-width: 2500px) {
  .foods,
.phones,
.smart-stuff {
    padding-left: 0vw;
    padding-right: 0vw;
  }

  .foods .container,
.phones .container,
.smart-stuff .container {
    font-size: calc(21.05px + 0.006vw);
  }

  .phone {
    width: 17.5em;
  }
}
@media (max-width: 728px) {
  .filters .icon-with-text .img-container {
    height: 9vw;
    width: 9vw;
  }
  .filters .icon-with-text:nth-child(5) {
    margin: 0 9vw;
  }

  .icon-with-text .img-container + span {
    font-size: 2.8vw;
  }

  .filters-sm .filters-slider .icon-with-text {
    width: calc(33.3333% - 5.5vw);
  }
  .filters-sm > .icon-with-text .img-container {
    width: 13.2vw;
    height: 13.2vw;
  }
  .filters-sm .icon-with-text .img-container + span {
    font-size: 2.7vw;
  }

  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 10px;
    font-size: 1em;
  }
  footer > div:first-child {
    margin-bottom: 10px;
  }

  .modal {
    padding: 20px 3vw;
  }

  .three-icons .icon-with-text .img-container.img-container {
    width: 10vw;
    height: 10vw;
  }
  .three-icons .icon-with-text .img-container.img-container:not(.login) img {
    width: 80%;
    height: 80%;
  }
  .three-icons .header-menu-wrapper .menu .img-container {
    width: 13vw;
    height: 13vw;
    margin-top: 10px;
  }
  .three-icons .header-menu-wrapper .menu .img-container + span {
    font-size: 3vw;
  }
  .three-icons:first-of-type > .icon-with-text, .three-icons:last-of-type .icon-with-text:not(:first-child),
.three-icons .header-menu-wrapper .menu {
    display: none;
  }
  .three-icons .header-menu-wrapper {
    position: relative;
    z-index: 2;
  }
  .three-icons .header-menu-wrapper.visible .ham span {
    color: white;
  }
  .three-icons .header-menu-wrapper.visible .menu {
    display: block;
    animation: fadein 250ms forwards;
  }
  .three-icons .header-menu-wrapper .img-container.img-container.img-container:hover {
    background-color: #64dc12;
    border-color: #444a4e;
  }
  .three-icons .header-menu-wrapper .img-container.img-container.img-container:hover img {
    filter: none;
  }
  .three-icons .header-menu-wrapper .menu.menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
  }
  .three-icons .header-menu-wrapper .menu.menu .img-container {
    background-color: transparent;
    border-color: #64dc12;
  }
  .three-icons .header-menu-wrapper .menu.menu .img-container:hover img {
    filter: none;
  }
  .three-icons .header-menu-wrapper .menu.menu span {
    color: white;
  }

  .foods,
.phones,
.smart-stuff {
    padding: 0 3%;
  }

  .phones > .container {
    grid-template-columns: 1fr;
  }

  .phones .icon-and-text .icon {
    width: 22vw;
  }

  .phone {
    width: 40vw;
  }

  .icon-and-text span:first-child {
    font-size: 3.5vw;
  }
  .icon-and-text span:last-child {
    font-size: 2.7vw;
  }

  .left .phone {
    margin-right: -10vw;
    margin-left: 1.5vw;
  }

  .right .icon-and-text {
    justify-content: space-between;
  }
  .right .icon-and-text .text {
    align-items: flex-end;
  }
  .right .phone {
    margin-left: -6vw;
    margin-right: 1vw;
  }

  .smart-stuff .container.container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  .smart-stuff .two > img {
    grid-row: 2;
  }
  .smart-stuff .two > div {
    grid-row: 1;
  }
  .smart-stuff .container h2 {
    font-size: 5vw;
  }
  .smart-stuff .left,
.smart-stuff .right {
    gap: 13vw;
  }
  .smart-stuff .left .icon-and-text.icon-and-text,
.smart-stuff .left h2,
.smart-stuff .right .icon-and-text.icon-and-text,
.smart-stuff .right h2 {
    width: 80%;
    margin: auto;
    justify-content: space-between;
  }
  .smart-stuff .left .icon-and-text.icon-and-text .icon .button:not(.flip),
.smart-stuff .left h2 .icon .button:not(.flip),
.smart-stuff .right .icon-and-text.icon-and-text .icon .button:not(.flip),
.smart-stuff .right h2 .icon .button:not(.flip) {
    display: none;
  }
  .smart-stuff .left h2,
.smart-stuff .right h2 {
    margin-bottom: -6vw;
  }
  .smart-stuff .left .icon img:first-child {
    left: unset;
    right: -23%;
  }
  .smart-stuff .container .icon-and-text .icon {
    width: calc(70px + 7vw);
  }
  .smart-stuff .container .icon-and-text span:first-child {
    font-size: calc(4.5px + 3vw);
  }
  .smart-stuff .container .icon-and-text span:last-child {
    font-size: calc(4px + 2.6vw);
  }
  .smart-stuff .container .left .icon-and-text .icon {
    left: -6vw;
  }
  .smart-stuff .right .icon-and-text {
    text-align: right;
  }
  .smart-stuff .right .icon-and-text .icon {
    margin-left: 5.5vw;
  }
  .smart-stuff .right .icon img:first-child {
    left: 1vw;
  }

  .foods p {
    width: 77%;
    font-size: 2.3vw;
    transform: unset;
  }

  .address,
.email {
    padding: 1vw;
  }
  .address .field-and-btn-container,
.email .field-and-btn-container {
    width: 85%;
  }
  .address input,
.email input {
    font-size: calc(10px + 1.3vw);
  }
  .address button,
.email button {
    font-size: calc(10px + 1.3vw);
  }

  .email p {
    display: none;
  }

  .foods .title {
    font-size: 5vw;
  }
  .foods p {
    width: 96%;
    font-size: 3vw;
  }
  .foods .food {
    margin-left: 25%;
  }
  .foods .goodies {
    margin-left: -10%;
  }

  .login-and-pics {
    grid-template-columns: 1fr;
    margin-left: 5%;
    margin-right: 5%;
  }

  .address .field-and-btn-container::after {
    right: calc(32px + 5vw);
    top: 7px;
    width: 3vw;
    height: 3vw;
    background-size: 3vw;
  }

  .account-settings .header .pic {
    width: 7em;
    height: 7em;
  }
  .account-settings .header .edit {
    width: 4em;
    height: 4em;
  }
  .account-settings form {
    grid-template-columns: 1fr;
  }

  .account section:not(.account-settings),
.account section .header,
.account section.account-settings form {
    padding-left: 15px;
    padding-right: 15px;
  }

  .refer-and-reward {
    font-size: 2.04vw;
  }

  .payment .cards .card-1 {
    padding: 2em 1.25em;
  }
  .payment .options {
    font-size: 2.7vw;
  }
  .payment .buttons {
    margin-top: 1.5em;
  }
  .payment .buttons button {
    font-size: 1em;
    padding: 0.6em 1.5em;
  }
  .payment .buttons button:first-child {
    margin-right: 6vw;
  }
}
@media (max-width: 626px) {
  .address .field-and-btn-container::after {
    right: calc(36px + 6%);
    width: calc(10px + 2vw);
    height: calc(10px + 2vw);
    background-size: calc(10px + 2vw);
    top: 4px;
  }
}
@media (max-width: 480px) {
  .logo {
    width: 52vw;
    min-width: unset;
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .product .title {
    font-size: 20px;
  }
  .product .extra {
    font-size: 15px;
  }
  .product img {
    min-width: unset;
  }

  .title-and-show-more {
    font-size: 12px;
  }

  .filters-sm .icon-with-text .img-container + span {
    font-size: 3.2vw;
  }

  .payment .cards .card-1,
.payment .cards .card-2 {
    height: 280px;
  }

  .payment .cards .card-1 .fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  }
  .payment .cards .card-1 .fields input {
    box-sizing: border-box;
  }
  .payment .cards .card-1 .fields input[type=number] {
    width: 100%;
  }
  .payment .cards .card-1 .fields input[type=text] {
    grid-column: 1/-1;
  }
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes invisible {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes food-slide-in {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translate(calc(7px + 1.5vw));
  }
}
@keyframes slide-from-top {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translate(calc(7px + 1.5vw));
    z-index: 1;
  }
}
@keyframes goodies-slide-in {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translate(calc(7px + 1.5vw));
  }
}
@keyframes slide-from-left {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-from-right {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadein-from-left {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadein-from-right {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes icon-outer-fadein-from-left {
  from {
    opacity: 0;
    transform: translate(calc(-50% - 50px), -50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes icon-outer-fadein-from-right {
  from {
    opacity: 0;
    transform: translate(calc(-50% + 50px), -50%);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
@keyframes fill-from-left {
  from {
    clip-path: inset(0 0 0 100%);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
@keyframes fill-from-right {
  from {
    clip-path: inset(0 100% 0 0);
  }
  to {
    clip-path: inset(0 0 0 0);
  }
}
.foods .pics > img {
  position: relative;
}

@keyframes circle1 {
  from {
    transform: rotate(0deg) translate(calc(7px + 1.5vw)) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(calc(7px + 1.5vw)) rotate(-360deg);
  }
}
@keyframes circle2 {
  from {
    opacity: 1;
    z-index: 1;
    transform: rotate(360deg) translate(calc(7px + 1.5vw)) rotate(-360deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg) translate(calc(7px + 1.5vw)) rotate(0deg);
    z-index: 1;
  }
}
@keyframes circle3 {
  from {
    transform: rotate(360deg) translate(calc(7px + 1.5vw)) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translate(calc(7px + 1.5vw)) rotate(0deg);
  }
}

/*# sourceMappingURL=style.css.map */
