$primary-color: #64dc12;
$secondary-color: #444a4e;
$secondary-color-hover: lighten($secondary-color, 5%);
$secondary-color-active: darken($secondary-color, 5%);
$blue: #3587b7;
$blue-hover: lighten($blue, 5%);
$blue-active: darken($blue, 5%);

a {
  text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

body * {
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0;
  color: #5a5a5a;
}

img {
  width: 100%;
}

header {
  background-color: $secondary-color;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0.3em 5em;
  gap: 2em;
  align-items: center;

  .icon-with-text {
    margin: 0 0.75em;

    .img-container {
      background-color: #fff;
      border-color: $primary-color;
      width: 2.75em;
      height: 2.75em;
      padding: 0.45em;

      &.login {
        padding: 0;

        img {
          height: 100%;
          border-radius: 50%;
          object-fit: unset;
          filter: none;
        }
      }

      img {
        filter: invert(0.7);
      }

      + span {
        color: $primary-color;
        text-transform: uppercase;
        font-size: 0.7em;
      }
    }
  }

  .menu-toggle {
    justify-self: end;

    .img-container img.close {
      filter: invert(0.3);
    }
  }

  .field {
    position: relative;

    &::before {
      content: "";
      background-image: url("../images/Address\ Search\ Icon.png");
      width: 1.3em;
      height: 1.3em;
      background-repeat: no-repeat;
      background-size: 1.3em;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  input {
    border: none;
    padding: 0.6em;
    border-radius: 2px;
    width: 100%;
    font-size: 0.8em;
  }

  .menu {
    display: flex;

    .icon-with-text {
      .img-container {
        border-color: white;
        background-color: $primary-color;

        + span {
          color: white;
        }
      }
    }
  }

  .icon-group {
    display: flex;

    &:first-child {
      margin-right: 2.5em;
    }
  }
}

.logo {
  width: 8em;
  margin-bottom: -6px;
}

//VueJS transitions
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
// ----------------

.bottom-nav {
  background-color: $secondary-color;
  position: sticky;
  bottom: 0;
  width: 100%;
  z-index: 1;
  margin-top: 3em;

  .container {
    height: 4em;
    padding: 0.3em 5em;
    display: flex;
    justify-content: space-between;
    position: relative;
  }

  .icon-with-text {
    position: relative;
    bottom: 50%;
    // transform: translateY(-50%);

    .img-container {
      padding: 0;
      width: 3.5em;
      height: 3.5em;
      border-color: $primary-color;

      img {
        border-radius: 50%;
        width: calc(3.5em - 3px);
        height: calc(3.5em - 3px);
        object-fit: unset;
      }

      + span {
        color: $primary-color;
      }
    }
  }
}

.icon-with-text {
  margin: 0 0.4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: $secondary-color;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  .img-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 3em;
    height: 3em;
    margin: 5px;
    background: $primary-color;
    border-radius: 50%;
    border: 3px solid $secondary-color;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 1vw;
    -webkit-transition: 300ms;
    transition: 300ms;

    + span {
      font-size: 1em;
    }

    img {
      -o-object-fit: contain;
      object-fit: contain;
    }

    &.login {
      background-image: url("../images/Nav\ Button\ -\ Log\ In.png");
      background-size: cover;
      background-position: center;
    }

    img {
      -webkit-transition: 300ms;
      transition: 300ms;
    }

    &:hover {
      background-color: white;
      border-color: $primary-color;
    }

    // &.login:hover {
    //   border-color: $primary-color;
    // }
  }
}

.three-pics {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;

  .pic-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: 1px solid $secondary-color;
    position: relative;

    &::before {
      position: absolute;
      color: white;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      font-weight: 900;
      font-size: 3vw;
      -webkit-transition: color 300ms;
      transition: color 300ms;
      text-shadow: -1px 0 rgba(0, 0, 0, 0.6), 0 1px rgba(0, 0, 0, 0.6), 1px 0 rgba(0, 0, 0, 0.6),
        0 -1px rgba(0, 0, 0, 0.6);
      z-index: 1;
    }

    &:first-child::before {
      content: "GRUB";
    }

    &:nth-child(2)::before {
      content: "GREEN";
    }

    &:last-child::before {
      content: "GROCERY";
    }

    &:hover::before {
      color: $primary-color;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.25);
    }

    &.active::before {
      color: $primary-color;
    }
  }
}

.filters {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 1rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    &:last-child img {
      width: 100%;
    }
  }

  > .icon-with-text .img-container {
    padding: 10px;
  }

  img {
    width: 115%;
  }

  .icon-with-text {
    &:nth-child(5) {
      margin: 0 11vw;
    }

    .img-container {
      background-color: #fff;
      padding: 0;

      &.voice img {
        width: 65%;
      }
    }
  }
}

.title-and-show-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 0;
  margin: 10px;
  border-top: 1px solid $primary-color;
  border-bottom: 1px solid $primary-color;
  color: $secondary-color;

  h1 {
    font-size: 2em;
  }

  .show-more {
    font-size: 1.5em;
    color: inherit;
    text-decoration: none;
  }
}

.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  margin: 0 10px;
  grid-gap: 8px 4px;
  position: relative;
}

.product {
  display: grid;
  text-decoration: none;

  .info-and-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid $secondary-color;
    margin-bottom: 4px;
    grid-gap: 10px 15px;
  }

  img {
    max-width: 165px;
    justify-self: end;
  }

  .title {
    color: $secondary-color;
    font-weight: normal;
    margin-bottom: 1rem;
  }

  .extra {
    color: $primary-color;
  }
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white;
  background-color: $secondary-color;
  padding: 15px 50px;
  margin-top: 5px;
  font-size: 1.25vw;

  span {
    color: $primary-color;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.n-and-add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 3.5vw;
  min-height: 40px;

  .n,
  .add {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 0px 15px;
    width: 50%;
  }

  .n {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 4px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    span {
      font-size: 35px;
      padding: 0 5px;
      cursor: pointer;
    }
  }

  .add {
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    -webkit-transition: background-color 250ms;
    transition: background-color 250ms;

    &:hover {
      background-color: $secondary-color-hover;
    }

    &:active {
      background-color: $secondary-color-active;
    }
  }

  input {
    width: 45%;
    margin: 0 10px;
    font-size: 20px;
    text-align: center;
    color: $secondary-color;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  max-height: 95vh;
  overflow-y: auto;
  max-width: 95vw;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  background-color: #fff;
  padding: 20px;
  border: 2px solid $blue;
  padding: 20px 6rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;

  .close {
    position: absolute;
    right: 10px;
    top: 10px;
    width: 30px;
    cursor: pointer;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  > img {
    width: 150px;
    margin-bottom: 1rem;
  }

  .n-and-add {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: unset;
    width: 100%;
    flex-direction: row;
    margin-top: 6px;

    .n,
    .add {
      width: 100%;
      padding: 0;
      height: 42px;
      background-color: white;
      color: $blue;
      border: 2px solid $blue;
      box-sizing: border-box;
    }

    .n {
      padding: 0 10px;
    }

    .add:hover {
      background-color: $blue;
      color: white;
    }

    .add:active {
      background-color: $blue-active;
      color: white;
    }

    input {
      width: 50%;
    }
  }

  .title {
    color: #444a4e;
    font-weight: normal;
    margin: 1em 0 0.5em 0;
  }

  .extra {
    color: $primary-color;
    margin-bottom: 1em;
    display: inline-block;
  }

  .ingred-rec {
    background-color: $blue;
    padding: 5px;
    text-align: center;
    color: white;

    img {
      width: 120px;
    }

    .ingred {
      margin: auto;
      padding: 10px 5px;
      border: 1px solid white;

      h3 {
        margin-bottom: 10px;
      }
    }

    ul {
      list-style: none;
    }

    h3 {
      margin: 10px 0;
    }

    span {
      font-size: 13px;
    }
  }

  input {
    max-width: 60px;
  }

  .modal-extras {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }

  .modal-extra {
    border: 1px solid;
    padding: 0 5px;

    > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    span {
      font-size: 14px;
    }

    .minus,
    .plus {
      font-size: 35px;
      font-weight: bold;
      cursor: pointer;
    }
  }

  input {
    // width: 45%;
    margin: 0 10px;
    font-size: 20px;
    text-align: center;
    color: $blue;
    border: 1px solid $blue-hover;
  }

  .notes {
    border: 1px solid white;
    text-align: left;
    padding: 10px;
    background-color: $blue;
    height: 150px;
    box-sizing: border-box;
    color: white;
    font-size: 13px;

    &::placeholder {
      color: inherit;
    }
  }
}

.dim {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1;
  display: none;

  &.visible {
    display: block;
    animation: fadein 250ms forwards;
  }
}

.filters-sm {
  display: grid;
  grid-template-columns: 1fr 3fr;
  display: none;
}

.flickity-page-dots {
  bottom: -10px;
}

.hidden {
  display: none;
}

.field-and-btn-container {
  width: 33.3333%;
  display: flex;

  input {
    flex-grow: 1;
  }
}

.address,
.email {
  padding: 0.4vw;

  input {
    border: none;
    margin-right: 1.5vw;
    background-color: transparent;
    border-bottom: 1px solid $primary-color;
    color: white;
    font-size: calc(3px + 1.3vw);

    &::placeholder {
      color: #ccc;
    }
  }

  button {
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
    font-size: calc(3px + 1.3vw);
    cursor: pointer;
  }
}

.address {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  align-items: center;
  background-color: #050f25;

  .field-and-btn-container {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/Address\ Icon\ white.png");
      right: calc(26px + 4vw);
      top: 7px;
      width: 1.45vw;
      height: 1.45vw;
      background-repeat: no-repeat;
      background-size: 1.45vw;
    }
  }
}

.email {
  background-color: $secondary-color;
  color: white;

  .field-and-btn-container {
    width: 42%;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  p {
    position: absolute;
    left: 0;
    font-size: calc(4px + 1.05vw);
    // margin-right: 3rem;
  }

  span {
    color: $primary-color;
  }
}

// .food, .phones {
//   &::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: -50vw;
//     width: 150vw;
//     height: 100%;
//     z-index: -1;
//   }
// }

.foods,
.smart-stuff,
.phones {
  overflow: hidden;
}

.foods {
  text-align: center;
  background: linear-gradient(rgba(0, 0, 0, 0.25), rgb(255, 255, 255));
  // position: relative;

  // &::before {
  //   background: linear-gradient(rgba(0,0,0,.25), rgb(255,255,255));
  // }

  .food {
    margin-left: 30%;
    animation: 1.5s ease-in-out forwards;
    transform: translateX(-200%);
  }

  .goodies {
    margin-left: -25%;
    animation: 1.5s forwards ease-in-out;
    transform: translateX(200%);
  }

  img {
    object-fit: contain;
  }

  .weed {
    position: relative;
    top: 4.5vw;
    z-index: -1;
    opacity: 0;
    transform: translateY(-100px);
    animation: 1.5s forwards ease-in-out;
  }

  .pics {
    display: grid;
    grid-template-columns: 1.1fr 1.5fr 1.3fr;
    align-items: end;
  }

  .title {
    margin: 2.5rem 0rem 1rem 0;
    font-size: 3.9vw;
    font-weight: 900;
  }

  p {
    margin-bottom: 1rem;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.7vw;
    transform: scale(0.97);
  }
}

.icon-and-text {
  span:first-child {
    font-weight: bold;
    color: #222;
    font-size: 1.3vw;
  }

  span:last-child {
    color: #444;
    margin-top: 2px;
    font-size: 1.2vw;
  }
}

.phones {
  background: linear-gradient(rgb(255, 255, 255), rgba(0, 0, 0, 0.25));
  padding-bottom: 1.5rem;

  > .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    // position: relative;

    // &::before {
    //   background: linear-gradient(rgb(255,255,255), rgba(0,0,0,.25));
    // }
  }

  .right {
    .icon-and-text {
      grid-column: 2;
    }

    .icon {
      img.button {
        opacity: 0;
        transform: translate(calc(-50% + 50px), -50%);
        // animation-name: icon-outer-fadein-from-right;
        animation: 1.2s forwards ease-out;
      }

      img:first-child {
        clip-path: inset(0 100% 0 0);
        // animation-name: fill-from-right;
        animation: 1.2s forwards ease-out;
      }
    }
  }

  .left {
    .icon {
      img.button {
        opacity: 0;
        transform: translate(calc(-50% - 50px), -50%);
        // animation-name: icon-outer-fadein-from-left;
        animation: 1.2s forwards ease-out;
      }

      img:first-child {
        clip-path: inset(0 0 0 100%);
        animation-name: fill-from-left;
        animation: 1.2s forwards ease-out;
      }
    }
  }
}

.icon-and-text {
  display: flex;
  align-items: center;

  .icon {
    position: relative;
    width: 8vw;

    img:first-child {
      width: 27%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
    }

    img.button {
      width: 100%;
      position: absolute;
      transform: translate(-50%, -50%);
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    // max-width: 15vw;
  }
}

.left {
  display: grid;

  .phone {
    grid-column: 2;
    grid-row: 1/3;
    justify-self: end;
    // clip-path: inset(0 0 0 50%);
    opacity: 0;
    transform: translateX(-200px);
    // animation-name: fadein-from-left
    animation: 1.2s forwards ease-out;
  }

  .icon-and-text .text {
    animation: 1.2s forwards ease-out;
  }

  .icon-and-text {
    justify-content: space-between;
  }

  .icon {
    img.button {
      top: 50%;
      left: 75%;
    }
  }
}

.right {
  display: grid;

  .phone {
    grid-column: 1;
    grid-row: 1/3;
    opacity: 0;
    transform: translateX(200px);
    // animation-name: fadein-from-right;
    animation: 1.2s forwards ease-out;
  }

  .icon-and-text .text {
    animation: 1.2s forwards ease-out;
  }

  .icon {
    img.button {
      left: 29%;
    }
  }
}

.smart-stuff {
  background: linear-gradient(rgba(0, 0, 0, 0.25), white);
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;

  .container {
    display: grid;
    padding-top: 1rem;
    margin-bottom: 1rem;

    &:nth-child(odd) {
      grid-template-columns: 1fr 2fr;
    }

    &:nth-child(even) {
      grid-template-columns: 2fr 1fr;
    }

    h2 {
      font-size: 2.2vw;
      align-self: center;
    }

    .left {
      animation: 1.2s forwards ease-out;
      transform: translateX(-200%);

      .icon-and-text .icon {
        position: relative;
        left: -3vw;
      }
    }

    .right {
      animation: 1.2s forwards ease-out;
      transform: translateX(200%);

      h2 {
        justify-self: end;
      }

      .icon-and-text {
        margin-left: 3vw;
      }
    }
  }
}

.snap-buttons {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);

  div {
    width: 0.75vw;
    height: 0.75vw;
    border-radius: 50%;
    background-color: #64dc12;
    border: 0.12vw solid #444a4e;
    box-sizing: border-box;
    cursor: pointer;
    transition: background-color 200ms;

    &:not(:last-child) {
      margin-bottom: 0.75vw;
    }

    &.active {
      background-color: $secondary-color;
    }
  }
}

.login-and-pics {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  gap: 1.5rem;
  margin-top: 1rem;

  .we-deliver.we-deliver {
    grid-column: 1/-1;
    display: flex;
    align-items: center;
    font-size: calc(10px + 0.75vw);

    p {
      font-size: 1.6em;

      span {
        color: $primary-color;
      }
    }

    img {
      width: 4.375em;
      margin-left: 10px;
    }
  }

  form {
    padding: 1rem calc(25px + 1.5vw);
    display: flex;
    flex-direction: column;
    border: 1px solid #aaa;
    min-width: 230px;

    > * {
      margin-bottom: 1.5rem;
    }

    img {
      width: 3.75em;
      height: 3.75em;
      border: 2px solid $secondary-color;
      border-radius: 50%;
      box-sizing: border-box;
    }
  }

  label,
  .pw span {
    color: darken($secondary-color, 12%);
  }

  label {
    font-weight: 700;
    margin-bottom: 0.75rem;
    display: inline-block;
    font-size: 1em;
  }

  .pw span {
    font-size: 0.85em;
  }

  button[type="submit"] {
    border-radius: 3px;
    color: white;
    font-weight: bold;
    background-color: $secondary-color;
    padding: 1em;
    border: none;
    cursor: pointer;
    transition: background-color 250ms;
    font-size: 1em;

    &:hover {
      background-color: $secondary-color-hover;
    }

    &:active {
      background-color: $secondary-color-active;
    }
  }

  input {
    width: 100%;
    border: 1px solid #aaa;
    background-color: #f2f2f2;
    border-radius: 4px;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 0.9em;
  }

  .options {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: -0.5rem;

    .option {
      display: flex;
      flex-direction: column;
      align-items: center;

      &:first-child {
        margin-right: 2rem;
      }
    }

    span {
      font-size: 0.875;
      color: lighten($secondary-color, 3%);
      margin-top: 4px;
    }
  }

  .pw > div {
    display: flex;
    justify-content: space-between;
  }

  .sign-up {
    font-size: 0.875em;
    color: lighten($secondary-color, 9%);
    text-align: center;

    a {
      color: darken($secondary-color, 12%);
      font-weight: 900;
      font-size: 1em;
    }
  }

  .pics {
    display: grid;
    grid-template-columns: 0.76fr 1.15fr 1fr;
    align-items: flex-start;

    img {
      width: 135%;
    }

    // .food {
    //   margin-left: 3.5vw;
    // }

    .weed {
      margin-top: -3vw;
      margin-left: -4vw;
    }

    .goodies {
      margin-left: -4.3vw;
    }
  }
}

.account {
  width: 95%;
  margin: auto;
  margin-top: 1em;

  section {
    margin-bottom: 15px;

    &:not(.account-settings),
    .header,
    &.account-settings form {
      padding-left: 3em;
      padding-right: 3em;
    }
  }
}

.account-settings {
  .header {
    background-color: $secondary-color;
    display: grid;
    grid-template-columns: 1fr 2.5fr 1fr 0fr;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    align-items: center;
    justify-items: center;
    font-size: calc(3.8px + 1vw);
    grid-gap: 1.5em;

    h1 {
      font-size: 1.85em;
      color: white;
      font-weight: normal;
    }

    .name {
      font-size: 1.3em;
      color: $primary-color;
    }

    img {
      width: 100%;
    }

    .icons {
      display: flex;
      text-align: center;

      .account-icon-and-text:first-child {
        margin-right: 1.5em;
      }
    }

    .pic {
      border-radius: 50%;
      width: 10em;
      height: 10em;
    }

    .edit {
      width: 4.5em;
      height: 4.5em;
    }
  }

  form {
    padding-top: 3em;
    padding-bottom: 3em;
    background-color: #eee;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    border: 1px solid #ccc;
    border-top: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: calc(5px + 1vw);
  }

  .field-wrapper {
    display: flex;
    flex-direction: column;
    align-self: flex-end;

    label {
      font-weight: 700;
      font-size: 1.4em;
      margin-bottom: 1.5em;
    }

    img {
      width: 1.7em;
      margin-right: -2em;
    }

    input,
    select {
      border: none;
      border-bottom: 1px solid;
      background-color: transparent;
      font-size: 1.2em;
      padding-bottom: 0.3em;
      width: 100%;
      box-sizing: border-box;
    }

    input {
      padding-left: 1.8em;
    }

    &.pw > div:first-child {
      display: flex;
      justify-content: space-between;

      a {
        font-weight: 700;
        color: $primary-color;
        font-size: 1.3em;
      }
    }

    &.no-icon input {
      padding-left: 0;
    }
  }

  .zip-and-apt {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5em;
    align-items: end;
  }

  .buttons {
    grid-column: 1/-1;
    display: flex;
    justify-content: space-between;
  }

  button[type="submit"] {
    grid-column: 1/-1;
    padding: 1.3em 3em;
    font-size: calc(10px + 1vw);
    font-weight: bold;
    border: none;
    cursor: pointer;
    border: 1px solid #aaa;
    border-radius: 3px;
    background-color: transparent;
  }
}

.account-icon-and-text {
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrapper {
    border: 2px solid white;
    border-radius: 50%;
    height: 4.75em;
    width: 4.75em;
    padding: 0.85em;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span {
    color: $primary-color;
    margin-top: 0.5em;
    width: max-content;
  }
}

.refer-and-reward {
  background-color: $secondary-color;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.2vw;

  h2 {
    font-weight: normal;
  }

  .heading-and-icons > h2,
  .pics h2 {
    margin-bottom: 1em;
  }

  .heading-and-icons {
    > h2 {
      color: white;
    }
  }

  .pics {
    h2 {
      color: $primary-color;
    }
  }

  .icons {
    display: grid;
    align-items: center;
    justify-content: start;
    gap: 1em;

    .icons-wrapper {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.5em;
    }

    h2 {
      color: $primary-color;
      font-weight: 700;
    }
  }

  .account-icon-and-text {
    .wrapper {
      padding: 0;
      overflow: hidden;
      height: 4em;
      width: 4em;

      img {
        width: 120%;
      }
    }

    span {
      color: white;
    }
  }

  .pics {
    display: grid;
    grid-template-columns: 0.76fr 1.15fr 1fr;

    h2 {
      grid-column: 1/-1;
    }
  }

  .weed {
    margin-top: -1.5vw;
    margin-left: -2.5vw;
  }

  .goodies {
    margin-left: -4.5vw;
  }
}

.payment {
  background-color: #eee;
  padding-top: 1em;
  padding-bottom: calc(1em + 35px);
  border: 1px solid #888;

  h2 {
    font-weight: normal;
  }

  > div:first-of-type {
    margin: 1em auto 1em auto;
  }

  .options {
    display: flex;
  }

  .option {
    display: flex;
    align-items: center;
    padding: 0.7em 1.3em;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 1em;
    }

    img {
      width: 1.5em;
      margin-right: 0.5em;

      &.card {
        width: 1.2em;
      }
    }

    &.active {
      background-color: $primary-color;
    }

    span {
      font-size: 0.85em;
    }
  }

  .cards {
    position: relative;
    max-width: 700px;
    margin-top: 2em;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .card-1 {
      background-color: #444a4e;
      padding: 2em 3em;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      height: 14.375em;
      position: relative;
      z-index: 1;
      box-sizing: border-box;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);

      img {
        width: 8em;
        margin-bottom: 1em;
      }

      input {
        border: none;
        border-radius: 5px;
        padding: 10px;
      }

      .fields {
        display: flex;
        grid-gap: 1em;
        margin-top: 1em;

        input:not(:last-child) {
          margin-right: 10px;
        }

        input[type="number"] {
          text-align: center;
          width: 40px;
        }

        input[type="text"] {
          width: 100%;
        }
      }
    }

    .card-2 {
      background-color: #fff;
      border-radius: 10px;
      border: 1px solid $secondary-color;
      height: 14.375em;
      grid-row: 1;
      grid-column: 2;
      position: relative;
      left: -54%;
      top: 10%;

      > div {
        background-color: $secondary-color;
        padding: 5px 3em;
        margin-top: 2.5em;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }

      span {
        color: lighten($secondary-color, 25%);
        margin-right: 5px;
      }

      input {
        border: none;
        border-radius: 5px;
        padding: 10px;
        width: 40px;
        text-align: center;
      }
    }
  }

  .buttons {
    display: flex;
    margin-top: 60px;
    justify-content: space-between;
    grid-row: 2;
    grid-column: 1/3;
    width: 73%;

    button {
      background-color: $primary-color;
      padding: 0.6em 3em;
      border-radius: 20px;
      border: none;
      font-weight: 700;
      font-size: 1.1em;
      color: darken($secondary-color, 15%);
      width: 50%;

      &:first-of-type {
        margin-right: 3em;
      }
    }
  }
}

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  // max-width: 1080px;
}

.container {
  max-width: 1800px;
}

.foods,
.phones,
.smart-stuff {
  padding-left: 5vw;
  padding-right: 5vw;
}

@media (min-width: 729px) {
  .product .info-and-img {
    min-height: 165px;
  }

  .header-menu-wrapper {
    display: none;
  }

  .phone {
    width: 18vw;
  }

  .icon-and-text .icon .flip {
    display: none;
  }

  // .phones {
  //   .right {
  //     .icon-and-text .text {
  //       margin-left: -1vw;
  //     }
  //     .phone {
  //       margin-left: -1.5vw;
  //     }
  //   }

  //   .left .phone {
  //     margin-right: -1.5vw;
  //   }
  // }

  .refer-and-reward .icons {
    grid-auto-flow: column;
  }

  .payment > div:first-of-type {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .three-icons .icon-with-text .img-container {
    padding: 1.7vw;

    img {
      width: 2.1vw;
    }
  }

  .filters .icon-with-text:nth-child(5) {
    margin: 0 5vw;
  }

  .foods,
  .phones,
  .smart-stuff {
    padding-left: 8vw;
    padding-right: 8vw;
  }
}

@media (min-width: 1216px) {
  .products {
    grid-template-columns: repeat(3, 1fr);
  }

  .filters .icon-with-text:nth-child(5) {
    margin: 0 9.5vw;
  }
}

@media (min-width: 1400px) {
  // grub page
  .product {
    .title {
      font-size: 1.8vw;
      margin-bottom: 1.2vw;
    }

    .extra {
      font-size: 1.05vw;
    }

    img {
      width: 12vw;
      max-width: unset;
    }
  }

  .n-and-add {
    // height: unset;

    .n,
    .add {
      padding: 0 1.5vw;
    }
    .add {
      font-size: 1.5vw;
    }

    .n span {
      font-size: 2.6vw;
    }

    input {
      font-size: 1.5vw;
    }
  }

  .title-and-show-more {
    font-size: 1.15vw;
  }

  .login-and-pics form {
    font-size: 1.25vw;
  }
  // --------------------

  .foods,
  .phones,
  .smart-stuff {
    padding-left: 8.49vw;
    padding-right: 8.49vw;
  }
}

// @media (min-width: 1081px) {
//   .foods {
//     .title {
//       font-size: 42.12px;
//     }

//     p {
//       font-size: 18.36px;
//     }
//   }

//   .icon-and-text {
//     .icon {
//       width: 86.39px;
//     }

//     span:first-child {
//       font-size: 14.04px;
//     }

//     span:last-child {
//       font-size: 12.96px;
//     }
//   }

//   .phones {
//     .left .phone {
//       margin-right: -16.2px;
//     }

//     .right .phone {
//       margin-left: -16.2px;
//     }
//   }

//   .address, .email {
//     padding: 4.32px;

//     input {
//       margin-right: 16.2px;
//       font-size: 17.04px;
//     }

//     button {
//       font-size: 17.04px;
//     }
//   }

//   .email p {
//     font-size: 15.34px;
//   }

//   .smart-stuff .container {

//     h2 {
//       font-size: 23.76px;
//     }

//     .icon-and-text {
//       span:first-child {
//         font-size: 14.04px;
//       }

//       span:last-child {
//         font-size: 12.96px;
//       }
//     }

//     .icon-and-text .icon {
//       width: 86.39px;
//     }

//     .left .icon-and-text .icon {
//       left: -32.4px;
//     }
//   }

//   .right .icon-and-text {
//     margin-left: 32.4px;
//   }
// }

@media (min-width: 1800px) {
  .foods,
  .phones,
  .smart-stuff {
    .container {
      font-size: calc(16px + 0.0045vw);
    }
  }

  .phone {
    width: 18em;
  }

  header {
    font-size: 21.588px;
  }

  .bottom-nav {
    font-size: 19.8px;
  }

  .product {
    img {
      width: 216px;
    }

    .title {
      font-size: 32.4px;
      margin-bottom: 21.6px;
    }

    .extra {
      font-size: 18.9px;
    }
  }

  .n-and-add .n,
  .n-and-add .add {
    padding: 0 27px;
  }

  .n-and-add {
    height: 63px;

    .add,
    input {
      font-size: 27px;
    }

    .n span {
      font-size: 46.8px;
    }
  }

  .filters .icon-with-text {
    font-size: 21.588px;
  }

  .foods {
    .title {
      font-size: 4.388em;
    }

    p {
      font-size: 1.913em;
    }
  }

  .icon-and-text {
    .icon {
      width: 9em;
    }

    span:first-child {
      font-size: 1.462em;
    }

    span:last-child {
      font-size: 1.35em;
    }
  }

  .phone {
    width: 20.25em;
  }

  .phones {
    .left .phone {
      margin-right: -1.688em;
    }

    .right .phone {
      margin-left: -1.688em;
    }
  }

  .address,
  .email {
    padding: 0.45em;

    input {
      margin-right: 1.688em;
      font-size: 1.65em;
    }

    button {
      font-size: 1.65em;
    }
  }

  .email p {
    font-size: 1.431em;
  }

  .smart-stuff .container {
    h2 {
      font-size: 2.475em;
    }

    .icon-and-text {
      span:first-child {
        font-size: 1.462em;
        // font-size: 1.6082em;
      }

      span:last-child {
        font-size: 1.35em;
        // font-size: 1.485em;
      }
    }

    .icon-and-text .icon {
      width: 9em;
    }

    // .left .icon-and-text .icon {
    //   left: -3.375em;
    // }
  }

  // .right .icon-and-text {
  //   margin-left: 3.375em;
  // }

  .foods,
  .phones,
  .smart-stuff {
    padding-left: 9.95vw;
    padding-right: 9.95vw;
  }
}

@media (max-width: 1799px) {
  .filters .icon-with-text {
    font-size: 1.2vw;
  }
}

header {
  font-size: 1.2vw;
}

.bottom-nav {
  font-size: 1.1vw;
}
// .container.is-fluid {
//   max-width: none;
//   padding-left: 32px;
//   padding-right: 32px;
//   width: 100%;
// }

// @media screen and (min-width: 1024px) {
//   .container {
//     max-width: 960px;
//   }
// }

@media (max-width: 991px) and (min-width: 729px) {
  .icon-with-text .img-container + span {
    font-size: 1.6vw;
  }
}

@media (max-width: 991px) {
  .filters .icon-with-text {
    span {
      font-size: 1.6vw;
    }
  }

  footer {
    font-size: 1.05em;
  }

  .filters {
    display: none;
  }

  .filters-sm {
    display: grid;
    grid-gap: 10vw;
    width: 90%;
    margin: 1rem auto 1.5rem auto;

    > .icon-with-text .img-container {
      width: 8.75vw;
      height: 8.75vw;

      img {
        width: 70%;
        height: 70%;
        margin: auto;
      }
    }

    .img-container {
      width: 100%;
      height: 100%;
      max-width: unset;
      max-height: unset;
      background-color: #fff;
      position: relative;
      margin: 0;
      margin-bottom: 6px;

      &::before {
        content: "";
        display: block;
        margin-top: 100%;
      }

      img {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .filters-slider {
      .icon-with-text {
        width: calc(25% - 5.5vw);
        display: flex;
        margin: 0 6vw 0 0;
      }
    }
  }

  .icon-and-text span:first-child {
    font-size: 1.6vw;
  }

  .icon-and-text span:last-child {
    font-size: 1.35vw;
  }

  .icon-and-text .icon {
    width: 9vw;
  }

  .snap-buttons div {
    width: calc(5px + 0.5vw);
    height: calc(5px + 0.5vw);

    &:not(:last-child) {
      margin-bottom: 1.5vw;
    }
  }

  .payment .cards {
    .card-1 {
      box-shadow: none;
    }

    .card-2 {
      position: unset;
      margin-top: 15px;
    }
  }
}

@media (max-width: 1024px) {

  .foods p {
    width: 89%;
  }

  .email p {
    margin-left: 5.6vw;
  }
}

@media (max-width: 1215px) {
  // .container.is-widescreen {
  //   max-width: 1152px;
  // }

  .three-icons .icon-with-text .img-container {
    width: 4.6vw;
    height: 4.6vw;
  }

  .filters .icon-with-text .img-container {
    + span {
      font-size: 1.2vw;
    }
  }
}

@media screen and (max-width: 1407px) {
  // .container.is-fullhd {
  //   max-width: 1344px;
  // }
}

// @media screen and (min-width: 1216px) {
//   .container {
//     max-width: 1152px;
//   }
// }

// @media screen and (min-width: 1408px) {
//   .container {
//     // max-width: 1344px;
//     max-width: 1800px;
//   }
// }

@media (min-width: 2000px) {
  .foods,
  .phones,
  .smart-stuff {
    .container {
      font-size: calc(16px + 0.1vw);
    }
  }

  .phone {
    width: 18em;
  }
}

@media (min-width: 2500px) {
  .foods,
  .phones,
  .smart-stuff {
    padding-left: 0vw;
    padding-right: 0vw;
  }

  .foods,
  .phones,
  .smart-stuff {
    .container {
      font-size: calc(21.05px + 0.006vw);
    }
  }

  .phone {
    width: 17.5em;
  }
}

@media (max-width: 728px) {
  .filters .icon-with-text {
    .img-container {
      height: 9vw;
      width: 9vw;
    }

    &:nth-child(5) {
      margin: 0 9vw;
    }
  }

  .icon-with-text .img-container + span {
    font-size: 2.8vw;
  }

  .filters-sm {
    .filters-slider .icon-with-text {
      width: calc(33.3333% - 5.5vw);
    }

    > .icon-with-text .img-container {
      width: 13.2vw;
      height: 13.2vw;
    }

    .icon-with-text .img-container + span {
      font-size: 2.7vw;
    }
  }

  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 10px;
    font-size: 1em;

    > div:first-child {
      margin-bottom: 10px;
    }
  }

  .modal {
    padding: 20px 3vw;
  }

  .three-icons {
    .icon-with-text {
      .img-container.img-container {
        width: 10vw;
        height: 10vw;
        // max-height: 55px;
        // max-width: 55px;

        &:not(.login) img {
          width: 80%;
          height: 80%;
        }
      }
    }

    .header-menu-wrapper .menu .img-container {
      width: 13vw;
      height: 13vw;
      margin-top: 10px;

      + span {
        font-size: 3vw;
      }
    }

    &:first-of-type > .icon-with-text,
    &:last-of-type .icon-with-text:not(:first-child),
    .header-menu-wrapper .menu {
      display: none;
    }

    .header-menu-wrapper {
      position: relative;
      z-index: 2;

      &.visible {
        .ham span {
          color: white;
        }
        .menu {
          display: block;
          animation: fadein 250ms forwards;
        }
      }

      .img-container.img-container.img-container:hover {
        background-color: $primary-color;
        border-color: $secondary-color;

        img {
          filter: none;
        }
      }

      .menu.menu {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 100%;

        .img-container {
          background-color: transparent;
          border-color: $primary-color;

          &:hover img {
            filter: none;
          }
        }

        span {
          color: white;
        }
      }
    }
  }

  .foods,
  .phones,
  .smart-stuff {
    padding: 0 3%;
  }

  .phones > .container {
    grid-template-columns: 1fr;
  }

  .phones .icon-and-text .icon {
    width: 22vw;
  }

  .phone {
    width: 40vw;
  }

  .icon-and-text {
    span:first-child {
      font-size: 3.5vw;
    }

    span:last-child {
      font-size: 2.7vw;
    }
  }

  // because there is whitespace around the phone pics
  .left .phone {
    margin-right: -10vw;
    margin-left: 1.5vw;
  }

  .right {
    .icon-and-text {
      justify-content: space-between;
      .text {
        align-items: flex-end;
      }
    }

    .phone {
      margin-left: -6vw;
      margin-right: 1vw;
    }
  }
  // ---------------

  .smart-stuff {
    .container.container {
      grid-template-columns: 1fr;
      gap: 2rem;
    }

    .two {
      > img {
        grid-row: 2;
      }
      > div {
        grid-row: 1;
      }
    }

    .container h2 {
      font-size: 5vw;
    }

    .left,
    .right {
      gap: 13vw;

      .icon-and-text.icon-and-text,
      h2 {
        width: 80%;
        margin: auto;
        justify-content: space-between;

        .icon .button:not(.flip) {
          display: none;
        }
      }

      h2 {
        margin-bottom: -6vw;
      }
    }

    .left .icon img:first-child {
      left: unset;
      right: -23%;
    }

    .container {
      .icon-and-text {
        .icon {
          width: calc(70px + 7vw);
        }

        span:first-child {
          font-size: calc(4.5px + 3vw);
        }

        span:last-child {
          font-size: calc(4px + 2.6vw);
        }
      }

      .left .icon-and-text .icon {
        left: -6vw;
      }
    }

    .right .icon-and-text {
      text-align: right;

      .icon {
        margin-left: 5.5vw;
      }
    }

    .right .icon img:first-child {
      left: 1vw;
    }
  }

  .foods p {
    width: 77%;
    font-size: 2.3vw;
    transform: unset;
  }

  .address,
  .email {
    padding: 1vw;

    .field-and-btn-container {
      width: 85%;
    }

    input {
      font-size: calc(10px + 1.3vw);
    }

    button {
      font-size: calc(10px + 1.3vw);
    }
  }

  // .address .field-and-btn-container::after {
  //   right: calc(3px + 2vw);
  //   top: 7px;
  //   width: 2.5vw;
  //   height: 2.5vw;
  //   background-size: 2.5vw;
  // }

  .email p {
    display: none;
  }

  .foods {
    .title {
      font-size: 5vw;
    }

    p {
      width: 96%;
      font-size: 3vw;
    }

    .food {
      margin-left: 25%;
    }

    .goodies {
      margin-left: -10%;
    }
  }

  .login-and-pics {
    grid-template-columns: 1fr;
    margin-left: 5%;
    margin-right: 5%;
  }

  .address .field-and-btn-container::after {
    right: calc(32px + 5vw);
    top: 7px;
    width: 3vw;
    height: 3vw;
    background-size: 3vw;
  }

  .account-settings {
    .header {
      .pic {
        width: 7em;
        height: 7em;
      }

      .edit {
        width: 4em;
        height: 4em;
      }
    }

    form {
      grid-template-columns: 1fr;
    }
  }

  .account section:not(.account-settings),
  .account section .header,
  .account section.account-settings form {
    padding-left: 15px;
    padding-right: 15px;
  }

  .refer-and-reward {
    font-size: 2.04vw;
  }

  .payment {
    .cards .card-1 {
      padding: 2em 1.25em;
    }

    .options {
      font-size: 2.7vw;
    }

    .buttons {
      margin-top: 1.5em;

      button {
        font-size: 1em;
        padding: 0.6em 1.5em;

        &:first-child {
          margin-right: 6vw;
        }
      }
    }
  }
}

@media (max-width: 626px) {
  .address .field-and-btn-container::after {
    right: calc(36px + 6%);
    width: calc(10px + 2vw);
    height: calc(10px + 2vw);
    background-size: calc(10px + 2vw);
    top: 4px;
  }
}

@media (max-width: 480px) {
  .logo {
    width: 52vw;
    min-width: unset;
  }

  .products {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  .product {
    .title {
      font-size: 20px;
    }

    .extra {
      font-size: 15px;
    }

    img {
      min-width: unset;
    }
  }

  .title-and-show-more {
    font-size: 12px;
  }

  .filters-sm .icon-with-text .img-container + span {
    font-size: 3.2vw;
  }

  .payment .cards .card-1,
  .payment .cards .card-2 {
    height: 280px;
  }

  .payment .cards .card-1 .fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;

    input {
      box-sizing: border-box;
    }

    input[type="number"] {
      width: 100%;
    }

    input[type="text"] {
      grid-column: 1/-1;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes invisible {
  from {
    visibility: visible;
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes food-slide-in {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translate(calc(7px + 1.5vw));
  }
}

@keyframes slide-from-top {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }

  to {
    opacity: 1;
    transform: translate(calc(7px + 1.5vw));
    z-index: 1;
  }
}

@keyframes goodies-slide-in {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translate(calc(7px + 1.5vw));
  }
}

@keyframes slide-from-left {
  from {
    transform: translateX(-200%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slide-from-right {
  from {
    transform: translateX(200%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fadein-from-left {
  from {
    opacity: 0;
    // clip-path: inset(0 0 0 50%);
    transform: translateX(-200px);
  }

  to {
    opacity: 1;
    // clip-path: inset(0 0 0 0);
    transform: translateX(0);
  }
}

@keyframes fadein-from-right {
  from {
    opacity: 0;
    transform: translateX(200px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes icon-outer-fadein-from-left {
  from {
    opacity: 0;
    transform: translate(calc(-50% - 50px), -50%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes icon-outer-fadein-from-right {
  from {
    opacity: 0;
    transform: translate(calc(-50% + 50px), -50%);
  }

  to {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

@keyframes fill-from-left {
  from {
    clip-path: inset(0 0 0 100%);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

@keyframes fill-from-right {
  from {
    clip-path: inset(0 100% 0 0);
  }

  to {
    clip-path: inset(0 0 0 0);
  }
}

// floating animation
.foods .pics > img {
  position: relative;
}

// .food {
//   animation: circle1 30s linear infinite;
// }
// .weed {
//   animation: circle2 30s linear infinite;
// }
// .goodies {
//   animation: circle3 40s linear infinite;
// }

@keyframes circle1 {
  from {
    transform: rotate(0deg) translate(calc(7px + 1.5vw)) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translate(calc(7px + 1.5vw)) rotate(-360deg);
  }
}

@keyframes circle2 {
  from {
    opacity: 1;
    z-index: 1;
    transform: rotate(360deg) translate(calc(7px + 1.5vw)) rotate(-360deg);
  }
  to {
    opacity: 1;
    transform: rotate(0deg) translate(calc(7px + 1.5vw)) rotate(0deg);
    z-index: 1;
  }
}

@keyframes circle3 {
  from {
    transform: rotate(360deg) translate(calc(7px + 1.5vw)) rotate(-360deg);
  }
  to {
    transform: rotate(0deg) translate(calc(7px + 1.5vw)) rotate(0deg);
  }
}
// ------------------------
