<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Grub Green Grocery</title>
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
</head>

<body>
	<header id="header">
		<a href="#"><img src="images/Header - Logo.png" alt="" class="logo"></a>
		<transition name='fade' mode='out-in'>
			<div class="field" v-if='!menuActive' key=1>
				<input type="text" name="" id="" placeholder="Enter Address">
			</div>
			<div v-else class="menu" key=2>
				<div class="icon-group">
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Account.png" alt="">
						</div>
						<span>Account</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Pick Up.png" alt="">
						</div>
						<span>Pickup</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Delivery.png" alt="">
						</div>
						<span>Delivery</span>
					</a>
				</div>
				<div class="icon-group">
					<a href="#" class="icon-with-text">
						<div class="img-container login">
							<img src="images/Nav Button - Log In.png" alt="">
						</div>
						<span>Log-in</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Saved.png" alt="">
						</div>
						<span>Saved</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Cart.png" alt="">
						</div>
						<span>Payment</span>
					</a>
				</div>
			</div>
		</transition>
		<a href="#" class="icon-with-text menu-toggle" @click='toggleMenu'>
			<div class="img-container">
				<transition name='fade' mode='out-in'>
					<img v-if='menuActive' src="images/close.svg" alt="" class="close" key=1>
					<img v-else src="images/Toggle Icon_.png" alt="" key=2>
				</transition>
			</div>
			<transition name='fade' mode='out-in'>
				<span key=1 v-if='menuActive'>Exit Menu</span>
				<span key=2 v-else>Main Menu</span>
			</transition>
		</a>
	</header>
	<div class="container">
		<div class="account">
			<section class="account-settings">
				<div class="header">
					<div>
						<h1>Account Settings</h1>
						<div class="name">Mary Jane</div>
					</div>
					<div class="icons">
						<div class="account-icon-and-text">
							<div class="wrapper">
								<img src="images/copy-regular.svg" alt="">
							</div>
							<span>REFER & REWARD</span>
						</div>
						<div class="account-icon-and-text">
							<div class="wrapper">
								<img src="images/shopping-cart-solid.svg" alt="">
							</div>
							<span>PAYMENTS</span>
						</div>
					</div>
					<img src="images/Nav Button - Log In.png" alt="" class="pic">
					<a href="#"><img src="images/user-edit-solid.svg" alt="" class="edit"></a>
				</div>
				<form action="">
					<div class="field-wrapper">
						<label for="">First Name</label>
						<div class="icon-and-field">
							<img src="images/First Name - Icon.png" alt="">
							<input type="text" name="" id="">
						</div>
					</div>
					<div class="field-wrapper">
						<label for="">Last Name</label>
						<div class="icon-and-field">
							<img src="images/First Name - Icon.png" alt="">
							<input type="text" name="" id="">
						</div>
					</div>
					<div class="field-wrapper">
						<label for="">Phone</label>
						<div class="icon-and-field">
							<img src="images/Phone - Icon.png" alt="">
							<input type="number" name="" id="">
						</div>
					</div>
					<div class="field-wrapper">
						<label for="">Email</label>
						<div class="icon-and-field">
							<img src="images/Zip - Icon.png" alt="">
							<input type="email" name="" id="">
						</div>
					</div>
					<div class="field-wrapper">
						<label for="">Street Address</label>
						<div class="icon-and-field">
							<img src="images/Address Icon.png" alt="">
							<input type="text" name="" id="">
						</div>
					</div>
					<div class="zip-and-apt">
						<div class="field-wrapper">
							<label for="">Zip Code</label>
							<div class="icon-and-field">
								<img src="images/Email - Icon.png" alt="">
								<input type="number" name="" id="">
							</div>
						</div>
						<div class="field-wrapper no-icon">
							<label for="">Apt / Suite No.</label>
							<div class="icon-and-field">
								<input type="number" name="" id="">
							</div>
						</div>
					</div>
					<div class="field-wrapper">
						<label for="">City</label>
						<div class="icon-and-field">
							<img src="images/City - Iconpng.png" alt="">
							<input type="text" name="" id="">
						</div>
					</div>
					<div class="field-wrapper">
						<label for="">State</label>
						<div class="icon-and-field">
							<select name="" id="">
								<option value="">State 1</option>
								<option value="">State 2</option>
							</select>
						</div>
					</div>
					<div class="field-wrapper pw">
						<div>
							<label for="">Current Password</label>
							<a href="#">Forgot?</a>
						</div>
						<div class="icon-and-field">
							<img src="images/Password - Icon.png" alt="">
							<input type="password" name="" id="">
						</div>
					</div>
					<div class="field-wrapper no-icon">
						<label for="">New Password</label>
						<div class="icon-and-field">
							<input type="password" name="" id="">
						</div>
					</div>
					<div class="buttons">
						<button type="submit">Edit</button>
						<button type="submit">Save</button>
					</div>
				</form>
			</section>
			<section class="refer-and-reward">
				<div class="heading-and-icons">
					<h2>REFER & REWARD</h2>
					<div class="icons">
						<h2>CODE: 420-GGG</h2>
						<div class="icons-wrapper">
							<a href="#" class="account-icon-and-text">
								<div class="wrapper">
									<img src="images/Message - Icon.png" alt="">
								</div>
								<span>TEXT</span>
							</a>
							<a href="#" class="account-icon-and-text">
								<div class="wrapper">
									<img src="images/Gmail - Icon.png" alt="">
								</div>
								<span>GMAIL</span>
							</a>
							<a href="#" class="account-icon-and-text">
								<div class="wrapper">
									<img src="images/Facebook - Icon.png" alt="">
								</div>
								<span>FACEBOOK</span>
							</a>
							<a href="#" class="account-icon-and-text">
								<div class="wrapper">
									<img src="images/Messenger - Icon.png" alt="">
								</div>
								<span>MESSENGER</span>
							</a>
						</div>
					</div>
				</div>
				<div class="pics">
					<h2>GIVE $20 + GET $20</h2>
					<img src="images/Food - Slide From Left.png" alt="" class="food">
					<img src="images/Marijuana - Slide From Bottom.png" alt="" class="weed">
					<img src="images/Goodies - Slide From Right.png" alt="" class="goodies">
				</div>
			</section>
			<section class="payment">
				<h2>PAYMENT</h2>
				<div>
					<div class="options">
						<div class="option active">
							<img src="images/credit-card-regular.svg" alt="" class="card">
							<span>Pay by card</span>
						</div>
						<div class="option">
							<img src="images/apple-pay.svg" alt="">
							<span>Apple Pay</span>
						</div>
						<div class="option">
							<img src="images/google-pay.png" alt="">
							<span>Google Pay</span>
						</div>
					</div>
					<form class="cards">
						<div class="card-1">
							<img src="images/Header - Logo.png" alt="">
							<input type="number" name="" id="">
							<div class="fields">
								<input type="number" name="" id="" placeholder="12345">
								<input type="number" name="" id="" placeholder="04">
								<input type="text" name="" id="" placeholder="some text">
							</div>
						</div>
						<div class="card-2">
							<div>
								<span>CVC</span>
								<input type="number" name="" id="">
							</div>
						</div>
						<div class="buttons">
							<button type="submit">Add</button>
							<button type="submit">Update</button>
						</div>
					</form>
				</div>
			</section>
		</div>
		<div class="dim"></div>
	</div>
	<nav class="bottom-nav">
		<div class="container">
			<a href="#" class="icon-with-text">
				<div class="img-container">
					<img src="images/Nav - Grub.png" alt="">
				</div>
				<span>Grub</span>
			</a>
			<a href="#" class="icon-with-text">
				<div class="img-container">
					<img src="images/Nav - Green.png" alt="">
				</div>
				<span>Green</span>
			</a>
			<a href="#" class="icon-with-text">
				<div class="img-container">
					<img src="images/Nav - Grocery.png" alt="">
				</div>
				<span>Grocery</span>
			</a>
		</div>
	</nav>
	<footer>
		<div>&copy 2019 <span>GRUB GREEN GROCERY INC.</span></div>
		<div>
			<a href="#">PRIVACY POLICY</a> |
			<a href="#">TERMS OF USE</a>
	</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/script.js"></script>
	<script>
		document.querySelector('header + .container').classList.remove('container');
	</script>
</body>

</html>