<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Grub Green Grocery</title>
	<link rel="stylesheet" href="css/flickity.css">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
</head>

<body>
	<header id="header">
		<a href="#"><img src="images/Header - Logo.png" alt="" class="logo"></a>
		<transition name='fade' mode='out-in'>
			<div class="field" v-if='!menuActive' key=1>
				<input type="text" name="" id="" placeholder="Enter Address">
			</div>
			<div v-else class="menu" key=2>
				<div class="icon-group">
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Account.png" alt="">
						</div>
						<span>Account</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Pick Up.png" alt="">
						</div>
						<span>Pickup</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Delivery.png" alt="">
						</div>
						<span>Delivery</span>
					</a>
				</div>
				<div class="icon-group">
					<a href="#" class="icon-with-text">
						<div class="img-container login">
							<img src="images/Nav Button - Log In.png" alt="">
						</div>
						<span>Log-in</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Saved.png" alt="">
						</div>
						<span>Saved</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Cart.png" alt="">
						</div>
						<span>Payment</span>
					</a>
				</div>
			</div>
		</transition>
		<a href="#" class="icon-with-text menu-toggle" @click='toggleMenu'>
			<div class="img-container">
				<transition name='fade' mode='out-in'>
					<img v-if='menuActive' src="images/close.svg" alt="" class="close" key=1>
					<img v-else src="images/Toggle Icon_.png" alt="" key=2>
				</transition>
			</div>
			<transition name='fade' mode='out-in'>
				<span key=1 v-if='menuActive'>Exit Menu</span>
				<span key=2 v-else>Main Menu</span>
			</transition>
		</a>
	</header>
	<div class="container wide">
		<section class="filters">
			<div>
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Salads.png" alt="">
					</div>
					<span>Salads</span>
				</a>
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Mexican.png" alt="">
					</div>
					<span>Mexican</span>
				</a>
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Burger.png" alt="">
					</div>
					<span>Burgers</span>
				</a>
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Sandwich.png" alt="">
					</div>
					<span>Sandwich</span>
				</a>
			</div>
			<a href="#" class="icon-with-text">
				<div class="img-container voice">
					<img src="images/Filter - Voice.png" alt="">
				</div>
				<span>Voice</span>
			</a>
			<div>
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Quick Bites.png" alt="">
					</div>
					<span>Bites</span>
				</a>
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Pizza.png" alt="">
					</div>
					<span>Pizza</span>
				</a>
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Asian.png" alt="">
					</div>
					<span>Asian</span>
				</a>
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Vegan.png" alt="">
					</div>
					<span>Vegan</span>
				</a>
			</div>
		</section>
		<div class="filters-sm">
			<a href="#" class="icon-with-text">
				<div class="img-container">
					<img src="images/Filter - Voice.png" alt="">
				</div>
				<span>Voice</span>
			</a>
			<div class="filters-slider">
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Salads.png" alt="">
					</div>
					<span>Salads</span>
				</a>
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Mexican.png" alt="">
					</div>
					<span>Mexican</span>
				</a>
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Burger.png" alt="">
					</div>
					<span>Burgers</span>
				</a>
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Sandwich.png" alt="">
					</div>
					<span>Sandwich</span>
				</a>
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Quick Bites.png" alt="">
					</div>
					<span>Bites</span>
				</a>
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Pizza.png" alt="">
					</div>
					<span>Pizza</span>
				</a>
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Asian.png" alt="">
					</div>
					<span>Asian</span>
				</a>
				<a href="#" class="icon-with-text">
					<div class="img-container">
						<img src="images/Filter - Vegan.png" alt="">
					</div>
					<span>Vegan</span>
				</a>
			</div>
		</div>
		<section class="title-and-show-more">
			<h1>FRESH BOWLS</h1>
			<a href="#" class="show-more">show more+</a>
		</section>
		<section class="products">
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Japanese Pear Salad</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Fresh Bowls - Salad 1.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Hawaiian Sashimi Salad</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Fresh Bowls - Salad 2.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Seattle Louie Salad</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Fresh Bowls - Salad 3.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Asian Sesame Salad</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Fresh Bowls - Salad 4.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Vegan Fresh Salad</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Fresh Bowls - Salad 5.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Cucucumber Avo Salad</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Fresh Bowls - Salad 6.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Pineapple Kiwi Bowl</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Fresh Bowls - Fruit 1.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Berry Orange Bowl</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Fresh Bowls - Fruit 2.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Acai Power Bowl</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Fresh Bowls - Fruit 3.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
		</section>
		<section class="title-and-show-more">
			<h1>TACORNITAS</h1>
			<a href="#" class="show-more">show more+</a>
		</section>
		<section class="products">
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Carnitas Trio Tacos</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Tacornitas - Taco 1.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Al Pastor Dos Tacos</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Tacornitas - Taco 2.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Carne Trio Tacos</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Tacornitas - Taco 3.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Chicken Burrito</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Tacornitas - Burrtio 1.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Carne Burrito</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Tacornitas - Burrito 2.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Impossible Burrito</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Tacornitas - Burrito 3.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Carnitas Asado Bowl</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Tacornitas - Bowl 1.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Carne Guac Bowl</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Tacornitas - Bowl 2.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
			<form class="product">
				<div class="info-and-img">
					<div class="info">
						<h2 class="title">Pico Al Pastor Bowl</h2>
						<span class="extra">Citrus Ponzu - $12</span>
					</div>
					<img src="images/Tacornitas - Bowl 3.png" alt="">
				</div>
				<div class="n-and-add">
					<div class="n">
						<span class="minus" @click='decrementQuantity()'>-</span>
						<input type="number" name="" id="" v-model='quantity'>
						<span class="plus" @click='incrementQuantity()'>+</span>
					</div>
					<button type="submit" class="add">ADD ITEM</button>
				</div>
			</form>
		</section>
		<form class="modal">
			<img src="images/cancel.svg" alt="" class="close">
			<img src="images/Fresh Bowls - Salad 6.png" alt="">
			<h2 class="title">Japanese Salad</h2>
			<span class="extra">Sesame Soy - $12</span>
			<div class="ingred-rec">
				<div class="ingred">
					<h3>INGREDIENTS</h3>
					<ul>
						<li>Japanese Pears</li>
						<li>Organic Chicken</li>
						<li>Fresh Greens</li>
						<li>Wonton Strips</li>
						<li>Hand Picked Grapes</li>
						<li>Sesame Soy Dressing</li>
					</ul>
				</div>
				<!-- <h3>RECOMMENDED</h3>
				<img src="images/Tacornitas - Bowl 3.png" alt="">
				<span>Pineapple Kiwi</span> -->
				<h3>EXTRAS</h3>
				<div class="modal-extras">
					<div class="modal-extra">
						<span>Japanese Pears</span>
						<div>
							<span class="minus" @click='decrementQuantityAndPrice()'>-</span>
							<input type="number" name="" id="" v-model='quantity'>
							<span class="plus" @click='incrementQuantityAndPrice()'>+</span>
						</div>
						<span class="price" data-price='5' @click='print()'>$.{{total}}</span>
					</div>
					<div class="modal-extra">
						<span>Japanese Pears+</span>
						<div>
							<span class="minus" @click='decrementQuantityAndPrice()'>-</span>
							<input type="number" name="" id="" v-model='quantity'>
							<span class="plus" @click='incrementQuantityAndPrice()'>+</span>
						</div>
						<span class="price" data-price='15' @click='print()'>$.{{total}}</span>
					</div>
					<div class="modal-extra">
						<span>Japanese Pears</span>
						<div>
							<span class="minus" @click='decrementQuantityAndPrice()'>-</span>
							<input type="number" name="" id="" v-model='quantity'>
							<span class="plus" @click='incrementQuantityAndPrice()'>+</span>
						</div>
						<span class="price" data-price='5' @click='print()'>$.{{total}}</span>
					</div>
					<div class="modal-extra">
						<span>Japanese Pears</span>
						<div>
							<span class="minus" @click='decrementQuantityAndPrice()'>-</span>
							<input type="number" name="" id="" v-model='quantity'>
							<span class="plus" @click='incrementQuantityAndPrice()'>+</span>
						</div>
						<span class="price" data-price='5'>$.{{total}}</span>
					</div>
					<div class="modal-extra">
						<span>Japanese Pears</span>
						<div>
							<span class="minus" @click='decrementQuantityAndPrice()'>-</span>
							<input type="number" name="" id="" v-model='quantity'>
							<span class="plus" @click='incrementQuantityAndPrice()'>+</span>
						</div>
						<span class="price" data-price='5'>$.{{total}}</span>
					</div>
					<div class="modal-extra">
						<span>Japanese Pears</span>
						<div>
							<span class="minus" @click='decrementQuantityAndPrice()'>-</span>
							<input type="number" name="" id="" v-model='quantity'>
							<span class="plus" @click='incrementQuantityAndPrice()'>+</span>
						</div>
						<span class="price" data-price='5'>$.{{total}}</span>
					</div>
					<div class="modal-extra">
						<span>Japanese Pears</span>
						<div>
							<span class="minus" @click='decrementQuantityAndPrice()'>-</span>
							<input type="number" name="" id="" v-model='quantity'>
							<span class="plus" @click='incrementQuantityAndPrice()'>+</span>
						</div>
						<span class="price" data-price='5'>$.{{total}}</span>
					</div>
					<div class="modal-extra">
						<span>Japanese Pears</span>
						<div>
							<span class="minus" @click='decrementQuantityAndPrice()'>-</span>
							<input type="number" name="" id="" v-model='quantity'>
							<span class="plus" @click='incrementQuantityAndPrice()'>+</span>
						</div>
						<span class="price" data-price='5'>$.{{total}}</span>
					</div>
					<div class="modal-extra">
						<span>Japanese Pears</span>
						<div>
							<span class="minus" @click='decrementQuantityAndPrice()'>-</span>
							<input type="number" name="" id="" v-model='quantity'>
							<span class="plus" @click='incrementQuantityAndPrice()'>+</span>
						</div>
						<span class="price" data-price='5'>$.{{total}}</span>
					</div>
					<div class="modal-extra">
						<span>Japanese Pears</span>
						<div>
							<span class="minus" @click='decrementQuantityAndPrice()'>-</span>
							<input type="number" name="" id="" v-model='quantity'>
							<span class="plus" @click='incrementQuantityAndPrice()'>+</span>
						</div>
						<span class="price" data-price='5'>$.{{total}}</span>
					</div>
				</div>
				<h3 style="text-align: left">MERCHANT NOTES</h3>
				<!-- <ul class="notes">
					<li>No nuts</li>
					<li>Dressing on side</li>
				</ul> -->
				<textarea name="" id="" cols="30" rows="10" class="notes" placeholder="Write here..."></textarea>
			</div>
			<div class="n-and-add">
				<div class="n">
					<span class="minus" @click='decrementQuantity()'>-</span>
					<input type="number" name="" id="" v-model='quantity'>
					<span class="plus" @click='incrementQuantity()'>+</span>
				</div>
				<button type="submit" class="add">ADD ITEM</button>
			</div>
		</form>
		<div class="dim"></div>
	</div>
	<nav class="bottom-nav">
		<div class="container wide">
			<a href="#" class="icon-with-text">
				<div class="img-container">
					<img src="images/Nav - Grub.png" alt="">
				</div>
				<span>Grub</span>
			</a>
			<a href="#" class="icon-with-text">
				<div class="img-container">
					<img src="images/Nav - Green.png" alt="">
				</div>
				<span>Green</span>
			</a>
			<a href="#" class="icon-with-text">
				<div class="img-container">
					<img src="images/Nav - Grocery.png" alt="">
				</div>
				<span>Grocery</span>
			</a>
		</div>
	</nav>
	<footer>
		<div>&copy 2019 <span>GRUB GREEN GROCERY INC.</span></div>
		<div>
			<a href="#">PRIVACY POLICY</a> |
			<a href="#">TERMS OF USE</a>
	</footer>
	</div>
	<script src="js/flickity.pkgd.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/script.js"></script>
</body>

</html>