<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Grub Green Grocery</title>
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
</head>

<body>
	<header id="header">
		<a href="#"><img src="images/Header - Logo.png" alt="" class="logo"></a>
		<transition name='fade' mode='out-in'>
			<div class="field" v-if='!menuActive' key=1>
				<input type="text" name="" id="" placeholder="Enter Address">
			</div>
			<div v-else class="menu" key=2>
				<div class="icon-group">
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Account.png" alt="">
						</div>
						<span>Account</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Pick Up.png" alt="">
						</div>
						<span>Pickup</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Delivery.png" alt="">
						</div>
						<span>Delivery</span>
					</a>
				</div>
				<div class="icon-group">
					<a href="#" class="icon-with-text">
						<div class="img-container login">
							<img src="images/Nav Button - Log In.png" alt="">
						</div>
						<span>Log-in</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Saved.png" alt="">
						</div>
						<span>Saved</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Cart.png" alt="">
						</div>
						<span>Payment</span>
					</a>
				</div>
			</div>
		</transition>
		<a href="#" class="icon-with-text menu-toggle" @click='toggleMenu'>
			<div class="img-container">
				<transition name='fade' mode='out-in'>
					<img v-if='menuActive' src="images/close.svg" alt="" class="close" key=1>
					<img v-else src="images/Toggle Icon_.png" alt="" key=2>
				</transition>
			</div>
			<transition name='fade' mode='out-in'>
				<span key=1 v-if='menuActive'>Exit Menu</span>
				<span key=2 v-else>Main Menu</span>
			</transition>
		</a>
	</header>
	<div class="container">
		<section class="foods">
			<div class="container">
				<div class="pics anim">
					<img src="images/Food - Slide From Left.png" alt="" class="food">
					<img src="images/Marijuana - Slide From Bottom.png" alt="" class="weed">
					<img src="images/Goodies - Slide From Right.png" alt="" class="goodies">
				</div>
				<h1 class="title">Amazon for Food + Marijuana + Goodies</h1>
				<p>Grub Green Grocery's all-in-one platform integrated with voice commerce, smart retail shops and mobile apps,
					provides consumers a one stop shop to purchase food marijuana and groceries.</p>
				<p>One App, One Payment, One Delivery</p>
			</div>
		</section>
		<section class="phones anim">
			<div class="container">
				<div class="left">
					<div class="icon-and-text">
						<div class="text">
							<span>1. Virtual Cart</span>
							<span>"Saved Orders, Saves Time"</span>
						</div>
						<div class="icon">
							<img src="images/1. Icon - Virtual Cart.png" alt="" class="cart">
							<img src="images/Button - Slider L.png" alt="" class="button">
						</div>
					</div>
					<div class="icon-and-text">
						<div class="text">
							<span>2. Voice Ordering</span>
							<span>"Placed My Saved Order"</span>
						</div>
						<div class="icon">
							<img src="images/2. Icon - Voice Ordering.png" alt="">
							<img src="images/Button - Slider L.png" alt="" class="button">
						</div>
					</div>
					<img src="images/1. - 2. Mobile Phone.png" alt="" class="phone">
				</div>

				<div class="right">
					<img src="images/3. - 4. Mobile Phone.png" alt="" class="phone">
					<div class="icon-and-text">
						<div class="icon">
							<img src="images/3. Icon - Scan QR Code.png" alt="">
							<img src="images/Button Slider R.png" alt="" class="button">
						</div>
						<div class="text">
							<span>3. ScanQR Code</span>
							<span>@Designated Pick-up Lockers</span>
						</div>
					</div>
					<div class="icon-and-text">
						<div class="icon">
							<img src="images/4. Icon - Smart Checkout.png" alt="">
							<img src="images/Button Slider R.png" alt="" class="button">
						</div>
						<div class="text">
							<span>4. Smart Checkout</span>
							<span>@Zero Lines & Wait Times</span>
						</div>
					</div>
				</div>
			</div>
		</section>
		<form class="email">
			<div class="container">
				<p>Win a <span>GGG</span> Party Package!</p>
				<div class="field-and-btn-container">
					<input type="text" name="" id="" placeholder="Enter Email">
					<button type="submit">Submit</button>
				</div>
			</div>
		</form>
		<section class="smart-stuff">
			<div class="container anim one">
				<div class="left">
					<h2>SMART RESTAURANTS</h2>
					<div class="icon-and-text">
						<div class="text">
							<span>Automated</span>
							<span>Online Fulfillment</span>
						</div>
						<div class="icon">
							<img src="images/1. Icon - Virtual Cart.png" alt="" class="cart">
							<img src="images/Button - Slider L.png" alt="" class="button">
							<img src="images/Button Slider R.png" alt="" class="button flip">
						</div>
					</div>
					<div class="icon-and-text">
						<div class="text">
							<span>Smart Touch</span>
							<span>Kiosk Ordering Station</span>
						</div>
						<div class="icon">
							<img src="images/2. Icon - Voice Ordering.png" alt="" class="cart">
							<img src="images/Button - Slider L.png" alt="" class="button">
							<img src="images/Button Slider R.png" alt="" class="button flip">
						</div>
					</div>
					<div class="icon-and-text">
						<div class="text">
							<span>QR Coded</span>
							<span>Pick-Up Lockers</span>
						</div>
						<div class="icon">
							<img src="images/2. Icon - Voice Ordering.png" alt="" class="cart">
							<img src="images/Button - Slider L.png" alt="" class="button">
							<img src="images/Button Slider R.png" alt="" class="button flip">
						</div>
					</div>
				</div>
				<img src="images/Restaurant - Main Image.png" alt="" class="right">
			</div>
			<div class="container anim two">
				<img src="images/Marijuana - Main Image.png" alt="" class="left">
				<div class="right">
					<h2>SMART MARIJUANA</h2>
					<div class="icon-and-text">
						<div class="icon">
							<img src="images/3. Icon - Scan QR Code.png" alt="" class="cart">
							<img src="images/Button Slider R.png" alt="" class="button">
							<img src="images/Button - Slider L.png" alt="" class="button flip">
						</div>
						<div class="text">
							<span>Digital Table Display</span>
							<span>Price - Product - Placement</span>
						</div>
					</div>
					<div class="icon-and-text">
						<div class="icon">
							<img src="images/3. Icon - Scan QR Code.png" alt="" class="cart">
							<img src="images/Button Slider R.png" alt="" class="button">
							<img src="images/Button - Slider L.png" alt="" class="button flip">
						</div>
						<div class="text">
							<span>Self-Ordering</span>
							<span>Touch Kiosk Stations</span>
						</div>
					</div>
					<div class="icon-and-text">
						<div class="icon">
							<img src="images/3. Icon - Scan QR Code.png" alt="" class="cart">
							<img src="images/Button Slider R.png" alt="" class="button">
							<img src="images/Button - Slider L.png" alt="" class="button flip">
						</div>
						<div class="text">
							<span>Self-Ordering</span>
							<span>Licensed & Lab Tested</span>
						</div>
					</div>
				</div>
			</div>
			<div class="container anim three">
				<div class="left">
					<h2>SMART MARTS</h2>
					<div class="icon-and-text">
						<div class="text">
							<span>Download Our App</span>
							<span>GGG - Coming Soon</span>
						</div>
						<div class="icon">
							<img src="images/1. Icon - Virtual Cart.png" alt="" class="cart">
							<img src="images/Button - Slider L.png" alt="" class="button">
							<img src="images/Button Slider R.png" alt="" class="button flip">
						</div>
					</div>
					<div class="icon-and-text">
						<div class="text">
							<span>Place Your Order</span>
							<span>One Command Ordering</span>
						</div>
						<div class="icon">
							<img src="images/2. Icon - Voice Ordering.png" alt="" class="cart">
							<img src="images/Button - Slider L.png" alt="" class="button">
							<img src="images/Button Slider R.png" alt="" class="button flip">
						</div>
					</div>
					<div class="icon-and-text">
						<div class="text">
							<span>Grab & Go</span>
							<span>Get in & Get Going</span>
						</div>
						<div class="icon">
							<img src="images/2. Icon - Voice Ordering.png" alt="" class="cart">
							<img src="images/Button - Slider L.png" alt="" class="button">
							<img src="images/Button Slider R.png" alt="" class="button flip">
						</div>
					</div>
				</div>
				<img src="images/Mart - Main Image.png" alt="" class="right">
			</div>
		</section>
		<div class="dim"></div>
	</div>
	<div class="snap-buttons">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<nav class="bottom-nav">
		<div class="container">
			<a href="#" class="icon-with-text">
				<div class="img-container">
					<img src="images/Nav - Grub.png" alt="">
				</div>
				<span>Grub</span>
			</a>
			<a href="#" class="icon-with-text">
				<div class="img-container">
					<img src="images/Nav - Green.png" alt="">
				</div>
				<span>Green</span>
			</a>
			<a href="#" class="icon-with-text">
				<div class="img-container">
					<img src="images/Nav - Grocery.png" alt="">
				</div>
				<span>Grocery</span>
			</a>
		</div>
	</nav>
	<footer>
		<div>&copy 2019 <span>GRUB GREEN GROCERY INC.</span></div>
		<div>
			<a href="#">PRIVACY POLICY</a> |
			<a href="#">TERMS OF USE</a>
	</footer>
	</div>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/script.js"></script>
	<script>
		document.querySelector('header + .container').classList.remove('container');
	</script>
</body>

</html>