<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Grub Green Grocery</title>
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700&display=swap" rel="stylesheet">
</head>

<body>
	<header id="header">
		<a href="#"><img src="images/Header - Logo.png" alt="" class="logo"></a>
		<transition name='fade' mode='out-in'>
			<div class="field" v-if='!menuActive' key=1>
				<input type="text" name="" id="" placeholder="Enter Address">
			</div>
			<div v-else class="menu" key=2>
				<div class="icon-group">
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Account.png" alt="">
						</div>
						<span>Account</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Pick Up.png" alt="">
						</div>
						<span>Pickup</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Delivery.png" alt="">
						</div>
						<span>Delivery</span>
					</a>
				</div>
				<div class="icon-group">
					<a href="#" class="icon-with-text">
						<div class="img-container login">
							<img src="images/Nav Button - Log In.png" alt="">
						</div>
						<span>Log-in</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Saved.png" alt="">
						</div>
						<span>Saved</span>
					</a>
					<a href="#" class="icon-with-text">
						<div class="img-container">
							<img src="images/Nav Button - Cart.png" alt="">
						</div>
						<span>Payment</span>
					</a>
				</div>
			</div>
		</transition>
		<a href="#" class="icon-with-text menu-toggle" @click='toggleMenu'>
			<div class="img-container">
				<transition name='fade' mode='out-in'>
					<img v-if='menuActive' src="images/close.svg" alt="" class="close" key=1>
					<img v-else src="images/Toggle Icon_.png" alt="" key=2>
				</transition>
			</div>
			<transition name='fade' mode='out-in'>
				<span key=1 v-if='menuActive'>Exit Menu</span>
				<span key=2 v-else>Main Menu</span>
			</transition>
		</a>
	</header>
	<div class="container">
		<section class="login-and-pics">
			<form action="">
				<div class="field">
					<label for="email">Email Address</label>
					<input type="email" id="email" placeholder="Email">
				</div>
				<div class="field pw">
					<div>
						<label for="password">Password</label>
						<span>Forgot your password?</span>
					</div>
					<input type="password" name="" id="password" placeholder="Password">
				</div>
				<button type="submit">Sign in</button>
				<span class="sign-up">Don't have an account? <a href="#">Sign up now</a></span>
				<div class="options">
					<a href="#" class="option">
						<img src="images/Google Icon.png" alt="">
						<span>GOOGLE</span>
					</a>
					<a href="#" class="option">
						<img src="images/Facebook - Icon.png" alt="">
						<span>FACEBOOK</span>
					</a>
				</div>
			</form>
			<section class="pics">
				<div class="we-deliver">
					<p>We <span>Deliver </span>Food, Marijuana and Groceries!</p>
					<img src="images/Delivery Truck - Icon.png" alt="">
				</div>
				<img src="images/Food - Slide From Left.png" alt="" class="food">
				<img src="images/Marijuana - Slide From Bottom.png" alt="" class="weed">
				<img src="images/Goodies - Slide From Right.png" alt="" class="goodies">
			</section>
		</section>
		<div class="dim"></div>
	</div>
	<nav class="bottom-nav">
		<div class="container">
			<a href="#" class="icon-with-text">
				<div class="img-container">
					<img src="images/Nav - Grub.png" alt="">
				</div>
				<span>Grub</span>
			</a>
			<a href="#" class="icon-with-text">
				<div class="img-container">
					<img src="images/Nav - Green.png" alt="">
				</div>
				<span>Green</span>
			</a>
			<a href="#" class="icon-with-text">
				<div class="img-container">
					<img src="images/Nav - Grocery.png" alt="">
				</div>
				<span>Grocery</span>
			</a>
		</div>
	</nav>
	<footer>
		<div>&copy 2019 <span>GRUB GREEN GROCERY INC.</span></div>
		<div>
			<a href="#">PRIVACY POLICY</a> |
			<a href="#">TERMS OF USE</a>
	</footer>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<script src="js/script.js"></script>
</body>

</html>